{% extends "base.html" %}

{% block title %} Мой аккаунт {% endblock %}

{% block content %}
    {% if profile.role == "USER" %}
        <section class="section">
            <div class="container">
                <h1 class="title"> Расскажите о себе </h1>
                <p class="subtitle">
                    После того, как Вы расскажите о себе, Вы сразу сможете редактировать все данные о себе и принимать
                    участие в жизни Вашей школы
                </p>
                <hr>
                <div class="columns is-centered">
                    <div class="column is-3">
                        <div class="card has-text-centered">
                            <div class="card-content">
                                <span class="icon is-large"><i class="fas fa-child fa-3x"></i></span>
                                <hr>
                                <p>
                                    Если Вы ученик школы, то нажмите кнопку ниже и оставьте нам немного информации о
                                    себе. Это нужно для того, чтобы Вы смогли принимать участие в событиях школы
                                </p>
                                <hr>
                                <a href="{% url 'get_info_about_student' %}" class="button is-link is-rounded">
                                    <span>Я ученик</span>
                                    <span class="icon"><i class="fas fa-child"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="card has-text-centered">
                            <div class="card-content">
                                <span class="icon is-large"><i class="fas fa-male fa-3x"></i></span>
                                <hr>
                                <p>
                                    Если Вы родитель ученика, то нажмите на кнопку ниже. Нам нужно удостовериться, что
                                    Вы являетесь родителем и узнать у Вас немного информации для того, чтобы Вы смогли
                                    принимать участие в жизни ребенка и школы
                                </p>
                                <hr>
                                <a href="{% url 'get_info_about_parent' %}" class="button is-danger is-rounded">
                                    <span>Я родитель</span>
                                    <span class="icon"><i class="fas fa-male"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="card has-text-centered">
                            <div class="card-content">
                                <span class="icon is-large"><i class="fas fa-graduation-cap fa-3x"></i></span>
                                <hr>
                                <p>
                                    Если Вы учитель, то нажмите кнопку ниже. Нам нужно удостовериться, что Вы являетесь
                                    учителем, чтобы Вы смогли общаться с родителями и учениками, а также принимали
                                    участие в жизни школы
                                </p>
                                <hr>
                                <a href="{% url 'get_info_about_teacher' %}" class="button is-success is-rounded">
                                    <span>Я учитель</span>
                                    <span class="icon"><i class="fas fa-graduation-cap"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="card has-text-centered">
                            <div class="card-content">
                                <span class="icon is-large"><i class="fas fa-building fa-3x"></i></span>
                                <hr>
                                <p>
                                    Если Вы представитель администрации школы, то нажмите на кнопку ниже.
                                    Именно Вы сможете зарегистрировать свою школу в нашей системе и создадите
                                    отдельную страницу для Вашего учебного заведения.
                                </p>
                                <hr>
                                <a href="{% url 'get_info_about_administration' %}" class="button is-dark is-rounded">
                                    <span>Администрация школы</span>
                                    <span class="icon"><i class="fas fa-building"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="section">
            <div class="container">
                <div class="columns">
                    <!-- Блок с картинкой пользователя -->
                    <div class="column is-3 is-max-w-md mx-auto pt-6 has-text-centered">
                        {% if profile.photo %}
                            <figure class="image">
                                <img src="{{ profile.photo.url }}" alt="Profile photo">
                            </figure>
                        {% else %}
                            <span class="icon is-large"><i class="fas fa-5x fa-user"></i></span>
                        {% endif %}
                        <p>
                        <hr>
                        <a href="{% url 'edit_avatar' %}"> Изменить изображение </a>
                        </p>
                    </div>

                    <!-- Блок с основными данными личного кабинета -->
                    <div class="column">
                        <!-- Блок с приветствием -->
                        <p class="title">
                            {% if request.user.first_name and request.user.last_name %}
                                Добро пожаловать, {{ request.user.first_name }}!
                            {% else %}
                                Добро пожаловать!
                            {% endif %}
                        </p>
                        <p class="subtitle">
                            <span class="tag is-medium is-rounded">
                                {% if profile.role == "STUDENT" %}
                                    Вы ученик
                                {% elif profile.role == "PARENT" %}
                                    Вы родитель
                                {% elif profile.role == "TEACHER" %}
                                    Вы учитель
                                {% elif profile.role == "ADMINISTRATION" %}
                                    Вы представитель администрации школы
                                {% endif %}
                            </span>
                        </p>

                        <hr>
                        <div class="columns is-centered">
                            <div class="buttons is-centered">
                                <a class="button is-rounded" href="{% url 'edit_password' %}">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-list"></i>
                                                        </span>
                                    <span> Изменить данные о себе </span>
                                </a>

                                <button class="button is-rounded" id="showModal">
                                    <span class="icon is-small"><i class="fas fa-eye"></i></span>
                                    <span> Посмотреть свои данные </span>

                                </button>
                                <div class="modal">
                                    <div class="modal-background"></div>
                                    <div class="modal-card has-text-left">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title"> Ваши данные </p>
                                            <button class="delete" aria-label="close"
                                                    id="modalCloseCross"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            <div class="columns">
                                                <div class="column is-4">
                                                    <strong>ФИО</strong>
                                                </div>
                                                <div class="column is-8">
                                                    {% if request.user.first_name and request.user.last_name %}
                                                        {{ request.user.first_name }}
                                                        {{ request.user.last_name }}
                                                    {% else %}
                                                        Мы пока не знаем Вашего имени. Давайте познакомимся!
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="columns">
                                                <div class="column is-4">
                                                    <strong> Почта </strong>
                                                </div>
                                                <div class="column is-8">
                                                    {{ request.user.email }}
                                                </div>
                                            </div>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <a class='button is-success is-rounded'
                                               href="{% url 'edit_password' %}"> Изменить
                                                данные </a>
                                            <button class="button is-link is-rounded" id="modalCloseButton">
                                                Закрыть
                                            </button>
                                        </footer>
                                    </div>
                                </div>

                                <a class="button is-rounded" href="{% url 'edit_email' %}">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-envelope"></i>
                                                        </span>
                                    <span> Изменить почту </span>
                                </a>
                                <a class="button is-rounded" href="{% url 'edit_avatar' %}">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-image"></i>
                                                        </span>
                                    <span> Изменить аватарку</span>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle"> Статус подтверждения профиля</p>
                                <p>
                                    После отправки фотографии администраторы сайта должны подтвердить, что Вы прикрепили
                                    корректную
                                    и настоящую фотографию. После этого Вы сможете полностью использовать наш сайт
                                </p>
                                <hr>
                                <div class="columns is-centered">
                                    <div class="column is-4 has-text-centered">
                                        <strong>Статус</strong>
                                    </div>
                                    <div class="column is-8">
                                        {% if profile.is_role_confirm is True %}
                                            <span class="tag is-success is-rounded"> Статус подтвержден </span>
                                        {% elif profile.is_role_confirm is False %}
                                            <span class="tag is-danger is-rounded"> Отклонена </span>
                                        {% else %}
                                            <span class="tag is-warning is-rounded"> В ожидании проверки </span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if profile.is_role_confirm is False %}
                                    <div class="columns">
                                        <div class="column is-4 has-text-centered">
                                            <strong>Подать заявку еще раз?</strong>
                                        </div>
                                        <div class="column is-8">
                                            {% if profile.role == "PARENT" %}
                                                <a href="{% url 'get_info_about_parent' %}"
                                                   class="button is-link is-rounded is-small"> Подать заявку </a>
                                            {% elif profile.role == 'TEACHER' %}
                                                <a href="#" class="button is-link is-rounded is-small"> Подать
                                                    заявку </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if profile.role == "STUDENT" and profile.is_role_confirm %}
        <section class="section">
            <h1 class="title has-text-centered"> Ваши данные и возможности </h1>
            <hr>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваши любимые предметы</strong></p>
                            <p class="has-text-centered">
                                {% for subject in subjects %}
                                    <span class="tag is-rounded is-danger">{{ subject.subject }}</span>
                                {% endfor %}
                            </p>
                            <hr>
                            <p class="has-text-centered">
                                <a href="{% url 'edit_student' %}">Изменить?</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваша школа</strong></p>
                            <p class="has-text-centered">
                                {% if school_in_system %}
                                    <a href="{% url 'each_school' school_id=school_in_system.id %}"><span
                                            class="tag is-success is-rounded is-medium">{{ school_in_system.short_name }}</span></a>
                                {% else %}
                                    <span class="tag is-success is-rounded is-medium">{{ student.school }}</span>
                                {% endif %}
                            </p>
                            <hr>
                            <p>
                                {% if school_in_system %}
                                    Вы присоединились к школе! Теперь Вы можете полноценно принимать участие в жизни
                                    ленты школы!
                                {% else %}
                                    Вы можете присоединиться к своей школе, если она добавила свою страницу к нам на
                                    сайт.
                                    Если ее еще нет на сайте, то свяжитесь с учителями, чтобы это поскорее произошло!
                                {% endif %}
                            </p>
                            <hr>
                            <div class="columns is-centered">
                                <div class="column is-6">
                                    <p class="has-text-centered">
                                        <a href="{% url 'join_school' %}">Изменить?</a>
                                    </p>
                                </div>
                                {% if school_in_system %}
                                    <div class="column is-6">
                                        <p class="has-text-centered">
                                            <a href="{% url 'each_school' school_id=school_in_system.id %}"> На страницу
                                                школы </a>
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваши возможности</strong></p>
                            <div class="buttons is-centered">
                                <a href="{% url 'edit_password' %}" class="button is-rounded is-link">
                                    <span class="icon"><i class="fas fa-cog"></i></span>
                                    <span>Изменить данные</span>
                                </a>
                                <a href="{% url 'all_schools' %}" class="button is-rounded is-link">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span>Посмотреть все школы</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if request_for_joining_school|length > 0 %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-centered"><strong>Ваши заявки на присоединение к
                                    школе</strong></p>
                                <hr>
                                {% for req in request_for_joining_school %}
                                    <div class="columns">
                                        <div class="column is-4">
                                            <strong>{{ req.school.short_name }}</strong>
                                        </div>
                                        <div class="column is-8">
                                            {% if req.status == "REVIEW" %}
                                                <span class="tag is-rounded is-warning">В рассмотрении</span>
                                            {% elif req.status == "APPROVE" %}
                                                <span class="tag is-rounded is-success"> Одобрена </span>
                                            {% elif req.status == "REJECT" %}
                                                <span class="tag is-rounded is-danger">Отклонена</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if request_from_parent|length > 0 %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-centered">
                                    <strong>Заявки от родителей</strong>
                                    {% if count_requests_from_parent_in_review > 0 %}
                                        <span class="tag is-rounded is-danger">+{{ count_requests_from_parent_in_review }}</span>
                                    {% endif %}
                                </p>
                                <hr>
                                {% for req in request_from_parent %}
                                    <div class="columns">
                                        <div class="column is-4 has-text-centered">
                                            <strong>{{ req.parent.profile.user.first_name }} {{ req.parent.profile.user.last_name }}</strong>
                                            <span class="tag is-rounded">{{ req.parent.profile.user.email }}</span>
                                        </div>
                                        <div class="column is-8 has-text-centered">
                                            {% if req.status == "REVIEW" %}
                                                <span class="tag is-rounded is-warning">В рассмотрении</span>
                                            {% elif req.status == "APPROVE" %}
                                                <span class="tag is-rounded is-success"> Одобрена </span>
                                            {% elif req.status == "REJECT" %}
                                                <span class="tag is-rounded is-danger">Отклонена</span>
                                            {% endif %}
                                            <hr>
                                            {% if req.status == "REVIEW" %}
                                                <div class="buttons is-centered">
                                                    <a href="{% url 'approve_parent_from_child' request_id=req.id %}"
                                                       class="button is-success is-rounded is-small">Одобрить</a>
                                                    <a href="{% url 'reject_parent_from_child' request_id=req.id %}"
                                                       class="button is-danger is-rounded is-small">Отклонить</a>
                                                </div>
                                            {% elif req.status == "APPROVE" %}
                                                <div class="buttons is-centered">
                                                    <a href="{% url 'reject_parent_from_child' request_id=req.id %}"
                                                       class="button is-danger is-rounded is-small">Отклонить</a>
                                                </div>
                                            {% elif req.status == "REJECT" %}
                                                <div class="buttons is-centered">
                                                    <a href="{% url 'approve_parent_from_child' request_id=req.id %}"
                                                       class="button is-success is-rounded is-small">Одобрить</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    {% elif profile.role == "PARENT" and profile.is_role_confirm %}
        <section class="section">
            <h1 class="title has-text-centered"> Ваши данные и возможности </h1>
            <hr>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong> Информация </strong></p>
                            <p>
                                Для присоединения к школе, Вам нужно зарегистрировать ребенка у нас на сайте и привязать
                                его к школе через его аккаунт. После этого Вы сможете добавить к себе в аккаунт, что это
                                именно Ваш ребенок. Таким образом, Вы автоматически привяжитесь ко школе, как и ребенок.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваши возможности</strong></p>
                            <div class="buttons is-centered">
                                <a href="#" class="button is-link is-rounded">
                                    <span class="icon"><i class="fas fa-cog"></i></span>
                                    <span> Изменить данные </span>
                                </a>
                                <a href="{% url 'add_child' %}" class="button is-link is-rounded">
                                    <span class="icon"><i class="fas fa-child"></i></span>
                                    <span> Добавить ребенка </span>
                                </a>
                                <a href="{% url 'all_schools' %}" class="button is-rounded is-link">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span>Посмотреть все школы</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if requests_to_children|length > 0 %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-centered"><strong>Ваши заявки детям</strong></p>
                                {% for req in requests_to_children %}
                                    <div class="columns">
                                        <div class="column is-4 has-text-centered">
                                            <strong>{{ req.student.profile.user.first_name }} {{ req.student.profile.user.last_name }}</strong>
                                            <span class="tag is-rounded">{{ req.student.profile.user.email }}</span>
                                        </div>
                                        <div class="column is-8 has-text-centered">
                                            {% if req.status == "REVIEW" %}
                                                <span class="tag is-rounded is-warning">В рассмотрении</span>
                                            {% elif req.status == "APPROVE" %}
                                                <span class="tag is-rounded is-success"> Одобрена </span>
                                            {% elif req.status == "REJECT" %}
                                                <span class="tag is-rounded is-danger">Отклонена</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if children|length > 0 %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-centered"><strong>Ваши дети</strong></p>
                                {% for child in children %}
                                    <div class="columns">
                                        <div class="column is-4 has-text-centered"><strong>Ребенок
                                            #{{ forloop.counter }}</strong></div>
                                        <div class="column is-8 has-text-centered">
                                            {{ child.student.profile.user.first_name }} {{ child.student.profile.user.last_name }}
                                            <span class="tag is-rounded">{{ child.student.profile.user.email }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    {% elif profile.role == "TEACHER" and profile.is_role_confirm %}
        <section class="section">
            <h1 class="title has-text-centered"> Ваши данные и возможности </h1>
            <hr>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваши любимые предметы</strong></p>
                            <p class="has-text-centered">
                                {% for subject in subjects %}
                                    <span class="tag is-rounded is-danger">{{ subject.subject }}</span>
                                {% endfor %}
                            </p>
                            <hr>
                            <p class="has-text-centered">
                                <a href="{% url 'edit_teacher' %}">Изменить?</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваша школа</strong></p>
                            <p class="has-text-centered">
                                {% if teacher.school is not None %}
                                    <a href="{% url 'each_school' school_id=teacher.school.id %}"><span
                                            class="tag is-success is-rounded is-medium">{{ teacher.school.short_name }}</span></a>
                                {% endif %}
                            </p>
                            <hr>
                            {% if teacher.school is None %}
                                <p>
                                    Вы можете присоединиться к своей школе, если она добавила свою страницу к нам на
                                    сайт. Если ее еще нет на сайте, то Вы можете на это повлиять!
                                    Попросите представителей администрации школы зарегистрироваться в
                                    нашей системе - они смогут добавить Вашу школу в нашу систему.
                                </p>
                            {% else %}
                                <p>
                                    Вы успешно присоединились к школе! Ваша заявка уже одобрена. Теперь Вы можете
                                    принимать полноценное участие в жизни ленты школы
                                </p>
                            {% endif %}
                            <hr>
                            <div class="columns is-centered">
                                <div class="column is-6">
                                    <p class="has-text-centered">
                                        <a href="{% url 'join_school' %}">Изменить?</a>
                                    </p>
                                </div>
                                {% if teacher.school is not None %}
                                    <div class="column is-6">
                                        <p class="has-text-centered">
                                            <a href="{% url 'each_school' school_id=teacher.school.id %}"> На страницу
                                                школы </a>
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваши возможности</strong></p>
                            <div class="buttons is-centered">
                                <a href="{% url 'edit_teacher' %}" class="button is-link is-rounded">
                                    <span class="icon"><i class="fas fa-cog"></i></span>
                                    <span> Изменить данные </span>
                                </a>
                                {#                                <a href="{% url 'create_school' %}" class="button is-link is-rounded">#}
                                {#                                    <span class="icon"><i class="fas fa-building"></i></span>#}
                                {#                                    <span> Добавить школу </span>#}
                                {#                                </a>#}
                                <a href="{% url 'all_schools' %}" class="button is-rounded is-link">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span>Посмотреть все школы</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if request_for_joining_school|length > 0 %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-centered"><strong>Ваши заявки на присоединение к
                                    школе</strong></p>
                                <hr>
                                {% for req in request_for_joining_school %}
                                    <div class="columns">
                                        <div class="column is-4">
                                            <strong>{{ req.school.short_name }}</strong>
                                        </div>
                                        <div class="column is-8">
                                            {% if req.status == "REVIEW" %}
                                                <span class="tag is-rounded is-warning">В рассмотрении</span>
                                            {% elif req.status == "APPROVE" %}
                                                <span class="tag is-rounded is-success"> Одобрена </span>
                                            {% elif req.status == "REJECT" %}
                                                <span class="tag is-rounded is-danger">Отклонена</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>

    {% elif profile.role == "ADMINISTRATION" and profile.is_role_confirm %}
        <section class="section">
            <h1 class="title has-text-centered"> Ваши данные и возможности </h1>
            <hr>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваша школа</strong></p>
                            <p class="has-text-centered">
                                {% if administration.school is not None %}
                                    <a href="{% url 'each_school' school_id=administration.school.id %}"><span
                                            class="tag is-success is-rounded is-medium">{{ administration.school.short_name }}</span></a>
                                {% endif %}
                            </p>
                            <hr>
                            {% if administration.school is None %}
                                <p>
                                    Вы можете присоединиться к своей школе, если она добавила свою страницу к нам на
                                    сайт. Если ее еще нет на сайте, то Вы можете это исправить!
                                    Именно Вы можете добавить свою школу в систему. В блоке справа выберите
                                    <strong>"Добавить школу"</strong> и Вы попадете на экран создания школы.
                                </p>
                            {% else %}
                                <p>
                                    Вы успешно присоединились к школе! Ваша заявка уже одобрена. Теперь Вы можете
                                    принимать полноценное участие в жизни школы
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Ваши возможности</strong></p>
                            <div class="buttons is-centered">
                                {#                                <a href="{% url 'edit_teacher' %}" class="button is-link is-rounded">#}
                                {#                                    <span class="icon"><i class="fas fa-cog"></i></span>#}
                                {#                                    <span> Изменить данные </span>#}
                                {#                                </a>#}
                                <a href="{% url 'create_school' %}" class="button is-link is-rounded">
                                    <span class="icon"><i class="fas fa-building"></i></span>
                                    <span> Добавить школу </span>
                                </a>
                                <a href="{% url 'all_schools' %}" class="button is-rounded is-link">
                                    <span class="icon"><i class="fas fa-list"></i></span>
                                    <span>Посмотреть все школы</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if request_for_joining_school|length > 0 %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-centered"><strong>Ваши заявки на присоединение к
                                    школе</strong></p>
                                <hr>
                                {% for req in request_for_joining_school %}
                                    <div class="columns">
                                        <div class="column is-4">
                                            <strong>{{ req.school.short_name }}</strong>
                                        </div>
                                        <div class="column is-8">
                                            {% if req.status == "REVIEW" %}
                                                <span class="tag is-rounded is-warning">В рассмотрении</span>
                                            {% elif req.status == "APPROVE" %}
                                                <span class="tag is-rounded is-success"> Одобрена </span>
                                            {% elif req.status == "REJECT" %}
                                                <span class="tag is-rounded is-danger">Отклонена</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>

        {% if schools|length > 0 %}
            <hr>
            <section class="section">
                <div class="container">
                    <h1 class="title has-text-centered"> Созданные Вами школы </h1>
                    <div class="columns is-centered is-multiline">
                        {% for school in schools %}
                            <div class="column is-6">
                                <div class="card">
                                    <div class="card-content">
                                        <p class="subtitle has-text-centered">
                                            <strong>{{ school.short_name }}</strong>
                                        </p>
                                        <hr>
                                        <div class="columns">
                                            <div class="column is-3">
                                                <strong>Полное название</strong>
                                            </div>
                                            <div class="column is-9">
                                                {{ school.full_name }}
                                            </div>
                                        </div>

                                        <div class="columns">
                                            <div class="column is-3">
                                                <strong>Адрес</strong>
                                            </div>
                                            <div class="column is-9">
                                                {{ school.address }}
                                            </div>
                                        </div>

                                        <div class="columns">
                                            <div class="column is-3">
                                                <strong>Телефон школы</strong>
                                            </div>
                                            <div class="column is-9">
                                                {{ school.phone }}
                                            </div>
                                        </div>

                                        <div class="columns">
                                            <div class="column is-3">
                                                <strong>Почта школы</strong>
                                            </div>
                                            <div class="column is-9">
                                                {{ school.email }}
                                            </div>
                                        </div>

                                        <div class="columns">
                                            <div class="column is-3">
                                                <strong>Подтверждена ли школа?</strong>
                                            </div>
                                            <div class="column is-9">
                                                {% if school.is_approve is False %}
                                                    <span class="tag is-warning is-rounded"> В рассмотрении </span>
                                                {% else %}
                                                    <span class="tag is-success is-rounded"> Подтверждена </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="{% url 'edit_school' school_id=school.id %}" class="card-footer-item">Изменить</a>
                                        <a href="{% url 'each_school' school_id=school.id %}" class="card-footer-item">На
                                            страницу школы</a>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

    {% if request.user.is_superuser %}
        <section class="hero is-link">
            <div class="hero-body">
                <p class="title">
                    Панель управления
                </p>
                <p class="subtitle">
                    В этой панели Вы можете управлять заявками пользователей и смотреть разную статистику по сайту
                </p>

                <div class="columns is-multiline">
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-black has-text-centered"> Заявки на подтверждение
                                    пользователей </p>
                                <div class="buttons is-centered">
                                    <a href="{% url 'all_requests_for_approve_users' %}?page=1"
                                       class="button is-warning is-rounded">
                                        <span class="icon"><i class="fas fa-list"></i></span>
                                        <span> Все заявки пользователей </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-black has-text-centered"> Заявки на подтверждение
                                    школ </p>
                                <div class="buttons is-centered">
                                    <a href="{% url 'all_requests_for_approve_schools' %}?page=1"
                                       class="button is-danger is-rounded">
                                        <span class="icon"><i class="fas fa-list"></i></span>
                                        <span> Все заявки школ </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <script>
        $("#showModal").click(function () {
            $(".modal").addClass("is-active");
        });

        $("#modalCloseCross").click(function () {
            $(".modal").removeClass("is-active");
        });

        $("#modalCloseButton").click(function () {
            $(".modal").removeClass("is-active");
        });
    </script>
{% endblock %}