{% extends "base.html" %}
{% block title %} Страница пользователя {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            {% if profile.photo %}
                                <figure class="image is-48x48">
                                    <img src="{{ profile.photo.url }}" alt="Аватарка">
                                </figure>
                            {% else %}
                                <span class="icon is-medium"><i class="fas fa-2x fa-user"></i></span>
                            {% endif %}
                        </div>
                        <div class="media-content">
                            <p class="title is-4">
                                {{ profile.user.first_name }} {{ profile.user.last_name }}
                                <span class="tag is-rounded is-success">
                                    {% if profile.role == "USER" %}
                                        Неподтвержденный пользователь
                                    {% elif profile.role == "TEACHER" %}
                                        Учитель
                                    {% elif profile.role == "STUDENT" %}
                                        Ученик
                                    {% elif profile.role == "PARENT" %}
                                        Родитель
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="content">
                        {% if profile.role == 'TEACHER' %}
                            <p>
                                Вы можете написать комментарий об этом учителей, если Вам есть что сказать.
                                Более того, Вы можете почитать комментарии других пользователей об этом учителе.
                            </p>
                            <p>
                                Комментарий можно написать чуть ниже. <strong>Пожалуйста, соблюдайте цензуру!</strong>
                            </p>
                        {% else %}
                            Вы можете написать в поддержку для жалобы на этого
                            пользователя, если вдруг считаете, что его действия противоречат нормам морали.
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr>

            <div class="card">
                <div class="card-content">
                    <p class="subtitle"><strong>Напишите комментарий</strong></p>
                    <hr>
                    {% include "helpers/status_text.html" %}
                    <form action="{% url 'each_user' user_id=profile.user.id %}" method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Ваш комментарий</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Пару слов об учителе..." name="comment"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <input type="submit" class="button is-rounded is-success" value="Опубликовать">
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            {% if comments|length > 0 %}
                {% for comment in comments %}
                    <article class="message">
                        <div class="message-body">
                            <div class="columns is-centered">
                                <div class="column">
                                    <p class="subtitle">
                                        <strong>
                                            <a href="{% url 'each_user' user_id=comment.author.user.id %}">
                                                {{ comment.author.user.first_name }} {{ comment.author.user.last_name }}
                                            </a>
                                        </strong>
                                        <span class="is-size-6">{{ comment.created_at }}</span><br>
                                        {% if comment.author.role == "TEACHER" %}
                                            <span class="tag is-rounded is-link">Учитель</span>
                                        {% elif comment.author.role == "PARENT" %}
                                            <span class="tag is-rounded is-link">Родитель</span>
                                        {% elif comment.author.role == "STUDENT" %}
                                            <span class="tag is-rounded is-link">Ученик</span>
                                        {% elif comment.author.role == "ADMINISTRATION" %}
                                            <span class="tag is-rounded is-link">Администрация</span>
                                        {% else %}
                                            <span class="tag is-rounded is-warning">Неподтвержденный пользователь</span>
                                        {% endif %}

                                        {% if comment.author == request_profile %}
                                            <span class="tag is-rounded is-success"> Это Вы </span>
                                        {% endif %}

                                    </p>
                                    <p class="is-size-4">
                                        {{ comment.comment }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <div class="columns is-centered">
                    <span class="tag is-medium is-link is-rounded">Станьте первым, кто оставит комментарий!</span>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}