{% extends "base.html" %}
{% block title %} Зарегистрироваться {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="is-max-w-md mx-auto pt-6 has-text-centered">
                {% load static %}
                <div>
                    <h4 class="title is-size-3"> Сделайте себе профиль </h4>
                    <div class="columns">
                        <div class="column is-8-desktop is-offset-2-desktop"></div>
                    </div>
                    <form method="POST" action="{% url 'signup_page' %}">
                        {% csrf_token %}
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-medium" type="text" placeholder="Ваше имя"
                                               name="first_name" required>
                                        <span class="icon is-small is-left"><i class="fas fa-id-card"></i></span>
                                    </p>
                                    {% for error in form.errors.first_name %}
                                        <span class="tag is-danger is-rounded">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="column">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-medium" type="text" placeholder="Ваша фамилия"
                                               name="last_name" required>
                                        <span class="icon is-small is-left"><i class="fas fa-id-card"></i></span>
                                    </p>
                                    {% for error in form.errors.last_name %}
                                        <span class="tag is-danger is-rounded">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input class="input is-medium" type="email" placeholder="Почта" name="email" required>
                                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                            </p>
                            {% for error in form.errors.email %}
                                <span class="tag is-danger is-rounded">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-medium" type="password" placeholder="Ваш пароль"
                                               name="password1" required>
                                        <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                                    </p>
                                    {% for error in form.errors.password1 %}
                                        <span class="tag is-danger is-rounded">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="column">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-medium" type="password" placeholder="Повторите пароль"
                                               name="password2" required>
                                        <span class="icon is-small is-left"><i class="fas fa-redo-alt"></i></span>
                                    </p>
                                    {% for error in form.errors.password2 %}
                                        <span class="tag is-danger is-rounded">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="column is-4 is-offset-4">
                            <div class="field">
                                <div class="control">
                                    <input type="submit" value="Зарегистрироваться!"
                                           class="button is-link is-rounded is-fullwidth"/>
                                </div>
                            </div>
                            <hr>
                            <a class="button is-success is-rounded is-small" href="{% url 'login' %}">
                                <span>Уже есть аккаунт? Войти</span><span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}