{% extends "base.html" %}
{% block title %} Информация об ученике {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Немного информации о Вас </h1>
            <hr>
            <div class="card">
                <div class="card-content">
                    {% include "helpers/status_text.html" %}
                    <form action="{% url 'get_info_about_student' %}" method="POST">
                        {% csrf_token %}

                        <div class="columns">
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Город</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input" type="text" name="city" placeholder="Ваш город" required>
                                        <span class="icon is-small is-left">
                                    <i class="fas fa-building"></i>
                                </span>
                                        <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Школа</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input" type="text" name="school" placeholder="Ваша школа" required>
                                        <span class="icon is-small is-left">
                                    <i class="fas fa-school"></i>
                                </span>
                                        <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column has-text-centered">
                                <div class="field">
                                    <label class="label">Класс</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="class">
                                                <option value="0">Выберите класс</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column has-text-centered">
                                <div class="field">
                                    <label class="label"> Буква класса </label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="letter">
                                                <option value="0">Выберите букву класса</option>
                                                <option value="А">А</option>
                                                <option value="Б">Б</option>
                                                <option value="В">В</option>
                                                <option value="Г">Г</option>
                                                <option value="Д">Д</option>
                                                <option value="Е">Е</option>
                                                <option value="Ж">Ж</option>
                                                <option value="З">З</option>
                                                <option value="И">И</option>
                                                <option value="К">К</option>
                                                <option value="Л">Л</option>
                                                <option value="М">М</option>
                                                <option value="Н">Н</option>
                                                <option value="О">О</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label"> Любимые предметы </label>
                            <div class="control">
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Математика"> Математика
                                </label>
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Русский язык"> Русский язык
                                </label>
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Чтение"> Чтение
                                </label>
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Труд"> Труд
                                </label>
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Окружающий мир"> Окружающий мир
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Музыка"> Музыка
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="ИЗО"> ИЗО
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Физкультура"> Физкультура
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Родной язык"> Родной язык
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Основы религиозных культур и
                                    светской этики"> Основы религиозных культур и
                                    светской этики
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Иностранный язык"> Иностранный
                                    язык
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="История"> История
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Литература"> Литература
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="ОБЖ"> ОБЖ
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Технология"> Технология
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="География"> География
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Биология"> Биология
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Информатика"> Информатика
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Обществознание"> Обществознание
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Черчение"> Черчение
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Физика"> Физика
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Химия"> Химия
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Экономика"> Экономика
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Правоведение"> Правоведение
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Философия"> Философия
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Астрономия"> Астрономия
                                </label>
                            </div>
                        </div>

                        <div class="field has-text-centered">
                            <input type="submit" value="Подтвердить" class="button is-success is-rounded">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}