{% extends "base.html" %}
{% block title %} Информация об учителе {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Немного информации о Вас </h1>
            <p class="subtitle">
                Загрузите свою фотографию рядом с документом, на котором виден Ваши ФИО и год рождения (например,
                паспорт или
                права), чтобы мы могли удостовериться, что Вы являетесь учителем
            </p>
            <hr>
            <div class="card">
                <div class="card-content">
                    {% include "helpers/status_text.html" %}
                    <form action="{% url 'get_info_about_teacher' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="columns is-centered">
                            <div class="column is-4">
                                <div class="field">
                                    <label class="label"> Ваше отчество </label>
                                    <div class="control has-icons-left">
                                        <input type="text" class="input" name="middle_name" placeholder="Ваше отчество" required>
                                        <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label class="label">Город</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input" type="text" name="city" placeholder="Ваш город" required>
                                        <span class="icon is-small is-left">
                                    <i class="fas fa-building"></i>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field has-addons has-addons-centered">
                            <div id="fileInputCard" class="file has-name is-boxed">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="photo" id="photo-input"
                                           required>
                                    <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label" id="fileTextAboutChoose">
                                                Выберите файл...
                                            </span>
                                        </span>
                                    <span class="file-name" id="fileName">
                                            Файл не выбран
                                        </span>
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="field">
                            <label class="label"> Ваши предметы </label>
                            <div class="control">
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Математика"> Математика
                                </label>
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Русский язык"> Русский язык
                                </label>
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Чтение"> Чтение
                                </label>
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Труд"> Труд
                                </label>
                                <label class="checkbox m-3">
                                    <input type="checkbox" name="subject" value="Окружающий мир"> Окружающий мир
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Музыка"> Музыка
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="ИЗО"> ИЗО
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Физкультура"> Физкультура
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Родной язык"> Родной язык
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Основы религиозных культур и
                                    светской этики"> Основы религиозных культур и
                                    светской этики
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Иностранный язык"> Иностранный
                                    язык
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="История"> История
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Литература"> Литература
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="ОБЖ"> ОБЖ
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Технология"> Технология
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="География"> География
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Биология"> Биология
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Информатика"> Информатика
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Обществознание"> Обществознание
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Черчение"> Черчение
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Физика"> Физика
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Химия"> Химия
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Экономика"> Экономика
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Правоведение"> Правоведение
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Философия"> Философия
                                </label>
                                <label class="checkbox m-2">
                                    <input type="checkbox" name="subject" value="Астрономия"> Астрономия
                                </label>
                            </div>
                        </div>

                        <div class="field has-text-centered">
                            <div class="control is-expanded">
                                <input type="submit" class="button is-success is-rounded" value="Отправить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById("photo-input").onchange = function () {
            document.getElementById("fileName").innerText = this.value.replace(/.*[\/\\]/, '');
            document.getElementById("fileTextAboutChoose").innerText = "Осталось отправить!"
            $('#fileInputCard').addClass('is-success');
        };
    </script>
{% endblock %}