{% extends "base.html" %}
{% block title %} Доступ запрещен {% endblock %}

{% block content %}
    <div class="container is-fluid">

        <section class="section">
            <div class="container has-text-centered">
                <div class="columns is-centered">
                    <div class="column is-7">
                        <h1 class="title is-1">403</h1>
                        <p class="subtitle is-3"> Недостаточно прав </p>
                        <p>
                            Это страница с ограниченным доступом. Если вы считаете, что Вы точно должны видеть эту страницу
                            - <a href="#"> напишите в поддержку</a> и они Вам помогут!
                        </p>
                    </div>
                </div>
                <a class="button is-link is-rounded" href="{% url 'index_page' %}"> Вернуться на главную </a>
                <a class="button is-link is-rounded" href="{% url 'account' %}"> Мой профиль </a>
            </div>
        </section>
    </div>
{% endblock %}