{% extends "base.html" %}
{% block title %} Добавление информации о средних баллах по ЕГЭ {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Добавление информации о средних баллах ЕГЭ </h1>
            <p class="subtitle">
                Вы можете добавить информацию по любым предметам, которые желаете. Если не хотите добавлять информацию
                по какому-то предмету, то просто оставьте это поле пустым, все остальное будет отражено на странице
                школы
            </p>
            <hr>
            {% include "helpers/status_text.html" %}
            <form action="{% url 'add_average_marks_for_exam' school_id=school.id %}" method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Русский язык </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по русскому языку</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по русскому языку"
                                               name="average_mark_russian">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Математика </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по математике</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по математике"
                                               name="average_mark_math">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Физика </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по физике</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по физике"
                                               name="average_mark_physics">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Химия </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по химии</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по химии"
                                               name="average_mark_chemistry">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Информатика </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по информатике</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по информатике"
                                               name="average_mark_ikt">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Обществознание </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по обществознанию</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по обществознанию"
                                               name="average_mark_social">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> История </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по истории</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по истории"
                                               name="average_mark_history">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> География </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по географии</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по географии"
                                               name="average_mark_geo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Биология </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по биологии</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по биологии"
                                               name="average_mark_bio">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Литература </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по литературе</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по литературе"
                                               name="average_mark_reading">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Английский язык </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по английскому языку</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по английскому языку"
                                               name="average_mark_english">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-content">
                        <div class="columns is-vcentered">
                            <div class="column is-4">
                                <p class="title is-4 has-text-centered"> Иностранный язык </p>
                            </div>
                            <div class="column is-8">
                                <div class="field">
                                    <label class="label">Средний балл по иностранному языку (не английский) </label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Средний балл по иностранному языку"
                                               name="average_mark_language">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="field has-text-centered">
                    <div class="control">
                        <input type="submit" class="button is-success is-rounded is-fullwidth" value="Сохранить данные">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}