{% extends "base.html" %}
{% block title %} Информация об успехах на олимпиадах {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Добавление информации об успехах в олимпиадах </h1>
            <p class="subtitle">
                Для каждого значимого события в олимпиадах Вы должны создать свою сущность - это можно сделать
                с помощью формы ниже. После этого данные будут отражены на страницы школы
            </p>
            <hr>

            <div class="card">
                <div class="card-content">
                    <p class="title is-4"> Расскажите об успехе ученика в олимпиаде </p>
                    {% include "helpers/status_text.html" %}
                    <form action="{% url 'add_info_about_olympics' school_id=school.id %}" method="POST">
                        {% csrf_token %}
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Название олимпиады</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Напишите название олимпиады..."
                                                  name="name_of_olympic" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Предмет олимпиады</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Например, математика"
                                               name="subject" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">ФИО участника</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Иванов Иван"
                                               name="name_of_student" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Класс участника</label>
                                    <div class="control">
                                        <input class="input" type="number" placeholder="11" name="class_of_student"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Диплом</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Например, диплом третьей степени"
                                               name="place_in_olympic" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field has-text-centered">
                            <div class="control">
                                <input type="submit" class="button is-success is-rounded" value="Сохранить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <h1 class="title"> Уже добавленные сведения об олимпиадах </h1>
            <p class="subtitle">
                {% if olympics|length == 0 %}
                    Здесь будут отображаться все добавленные сведения об олимпиадах, пока Вы не добавили ни одну
                    олимпиаду
                {% else %}
                    Здесь перечислены все существующие сведения об успехах в олимпиадах в Вашей школе. Так держать!
                {% endif %}
            </p>
            <hr>
            <div class="columns is-multiline">
                {% for obj in olympics %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4"> {{ obj.name_of_olympic }} </p>
                                <span class="tag is-success is-rounded is-medium">{{ obj.subject }}</span>
                                <hr>
                                <div class="content">
                                    <strong>Ученик</strong>: {{ obj.name_of_student }} из класса №{{ obj.class_of_student }}
                                    <br>
                                    <strong>Диплом</strong>: {{ obj.place_in_olympic }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}