{% extends "base.html" %}
{% block title %} Создание года поступления {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Создание года поступления </h1>
            <p class="subtitle">
                Вам надо сначала создать год поступления (например, 2021 год) и создать статистику именно для него.
                Для каждого года надо будет создавать свою статистику (добавить пару из названия ВУЗа и кол-ва людей,
                поступивших в конкретном году)
            </p>
            <hr>

            <div class="columns">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="has-text-centered title is-4"> Создание года поступления </p>
                            {% include 'helpers/status_text.html' %}
                            <form action="{% url 'create_year_of_university' school_id=school.id %}" method="POST">
                                {% csrf_token %}
                                <div class="field">
                                    <label class="label">Добавьте год поступления</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Например, 2021"
                                               name="year" required>
                                    </div>
                                </div>

                                <div class="field has-text-centered">
                                    <div class="control">
                                        <input type="submit" class="button is-success is-rounded" value="Сохранить">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="column is-8">
                    <h1 class="title is-4"> Созданные годы поступления </h1>
                    <hr>
                    {% if years|length > 0 %}
                    <div class="columns is-multiline">
                        {% for y in years %}
                            <div class="column is-6">
                                <div class="card">
                                    <div class="card-content">
                                        <p class="has-text-centered title is-4"> {{ y.year }} год </p>
                                        <div class="content">
                                            Для добавления информации по этому году нажмите на кнопку ниже. После 
                                            этого Вы сможете добавить статистику по любому ВУЗу, куда поступили Ваши ученики
                                        </div>
                                        <hr>
                                        <a href="{% url 'create_stats_by_each_university_in_one_year' school_id=school.id year=y.year %}" class="button is-link is-rounded is-fullwidth">
                                            Заполнить статистику
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <span class="tag is-medium is-rounded is-warning"> Пока созданных годов поступления </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}