{% extends "base.html" %}
{% block title %} Заполнения статистики по университетам {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Создание статистики по {{ year.year }} году </h1>
            <p class="subtitle">
                Вы можете добавить информацию по выбранному году - напишите название университета и количество людей,
                которое туда поступило. Эта информация сразу же отобразится на странице школы
            </p>
            <hr>

            <div class="columns">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <p class="has-text-centered title is-4"> Создание статистики по университетам </p>
                            {% include 'helpers/status_text.html' %}
                            <form action="{% url 'create_stats_by_each_university_in_one_year' school_id=school.id year=year.year %}" method="POST">
                                {% csrf_token %}
                                <div class="field">
                                    <label class="label">Напишите название университета</label>
                                    <div class="control">
                                        <input class="input" type="text"
                                               placeholder="Например, МГУ"
                                               name="university" required>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Количество поступивших</label>
                                    <div class="control">
                                        <input class="input" type="number"
                                               placeholder="Например, 20"
                                               name="count_students" required>
                                    </div>
                                </div>

                                <div class="field has-text-centered">
                                    <div class="control">
                                        <input type="submit" class="button is-success is-rounded" value="Сохранить">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="column is-8">
                    <h1 class="title is-4"> Статистика поступления по университетам </h1>
                    <hr>
                    {% if university_for_year|length > 0 %}
                    <div class="columns is-multiline">
                        {% for obj in university_for_year %}
                            <div class="column is-6">
                                <div class="card">
                                    <div class="card-content">
                                        <p class="has-text-centered title is-4"> {{ obj.university }} </p>
                                        <p class="has-text-centered">
                                            <span class="tag is-success is-rounded is-medium">{{ obj.count_people }} студентов</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <span class="tag is-medium is-rounded is-warning"> Статистики пока нет </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}