{% extends "base.html" %}
{% block title %} Добавление дополнительной информации о школе {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Добавление дополнительной информации о школе </h1>
            <p class="subtitle">
                Эта информация будет отображаться на странице школы.
                Она нужна для более подробного рассказа о Вашей школе
            </p>
            <hr>
            {% include "helpers/status_text.html" %}
            <div class="columns is-multiline">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <div class="has-text-centered my-3">
                                <span class="icon"><i class="fas fa-sort-numeric-up fa-4x"></i></span>
                            </div>
                            <p class="has-text-centered title is-4"> Место в рейтинге школ </p>
                            <div class="content">
                                Укажите место школы в рейтинге школ. Эта информация появится в самом начале страницы и
                                может серьезно повлиять на мнение о Вашей школе.
                            </div>
                            <hr>
                            <form action="{% url 'add_additional_info_for_school' school_id=school.id %}" method="POST">
                                {% csrf_token %}
                                <div class="field">
                                    <label class="label">Ваше место в рейтинге</label>
                                    <div class="control">
                                        {% if school.place_in_rating is None %}
                                            <input class="input" type="number"
                                                   placeholder="Укажите Ваше место в рейтинге"
                                                   name="place_in_rating" required>
                                        {% else %}
                                            <input class="input" type="number"
                                                   placeholder="Укажите Ваше место в рейтинге"
                                                   name="place_in_rating" value="{{ school.place_in_rating }}" required>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="field has-text-centered">
                                    <div class="control">
                                        <input type="submit" class="button is-success is-rounded" value="Сохранить">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <div class="has-text-centered my-3">
                                <span class="icon"><i class="fas fa-user-edit fa-4x"></i></span>
                            </div>
                            <p class="has-text-centered title is-4"> Средние баллы ЕГЭ по предметам </p>
                            <div class="content">
                                Заполните информацию по средним баллам ЕГЭ по разным предметам. Вы можете заполнить
                                не все предметы - предметы выбираете Вы. Напомним, что этот параметр один из
                                определяющих
                                для учеников 10-11 классов!
                            </div>
                            <hr>
                            <a href="{% url 'add_average_marks_for_exam' school_id=school.id %}"
                               class="button is-link is-rounded is-fullwidth"> Заполнить информацию </a>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <div class="has-text-centered my-3">
                                <span class="icon"><i class="fas fa-trophy fa-4x"></i></span>
                            </div>
                            <p class="has-text-centered title is-4"> Успехи учеников в олимпиадах </p>
                            <div class="content">
                                Заполните информацию про успехи в олимпиадах учеников Вашей школы. Эти показатели
                                очень важны для всех родителей и учеников, поскольку хорошая подготовка
                                к олимпиадам означает высокий уровень школы
                            </div>
                            <hr>
                            <a href="{% url 'add_info_about_olympics' school_id=school.id %}"
                               class="button is-link is-rounded is-fullwidth"> Заполнить информацию </a>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <div class="has-text-centered my-3">
                                <span class="icon"><i class="fas fa-university fa-4x"></i></span>
                                <p class="has-text-centered title is-4"> Распределение учеников по университетам</p>
                                <div class="content">
                                    Расскажите всем, в какие университеты попадают Ваши ученики. Этот показатель очень
                                    хорошо отражает то, куда ученикам легче поступить, если они будут обучаться в Вашей
                                    школе.
                                </div>
                                <hr>
                                <a href="{% url 'create_year_of_university' school_id=school.id %}" class="button is-link is-rounded is-fullwidth"> Заполнить информацию </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}