{% extends "base.html" %}
{% block title %} Все достижения на олимпиаде {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Просмотр всех достижений в олимпиадах </h1>
            <p class="subtitle">
                На этой странице Вы можете посмотреть на все достижения школы в олимпиадах.
                <a href="{% url 'each_school' school_id=school.id %}"> Вернуться на страницу школы? </a>
            </p>
            <hr>
            <div class="columns is-multiline">
                {% for obj in olympics %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4"> {{ obj.name_of_olympic }} </p>
                                <span class="tag is-success is-rounded is-medium">{{ obj.subject }}</span>
                                <hr>
                                <div class="content">
                                    <strong>Ученик</strong>: {{ obj.name_of_student }} из класса
                                    №{{ obj.class_of_student }}
                                    <br>
                                    <strong>Диплом</strong>: {{ obj.place_in_olympic }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
