{% extends "base.html" %}
{% block title %} Присоединение к школе {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Присоединиться к школе </h1>
            <p class="subtitle"> Выберите из списка Вашу школу, после чего администратор страницы Вашей школы рассмотрит
                заявку </p>
            <hr>
            {% include "helpers/status_text.html" %}
            <div class="columns is-centered">
                {% if profile.role == "STUDENT" %}
                    <div class="column is-6">
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle has-text-centered"><strong>Изменить школу, которой нет на
                                    сайте</strong></p>
                                <hr>
                                <form action="{% url 'join_school' %}" method="POST">
                                    {% csrf_token %}

                                    <div class="field">
                                        <label class="label">Школа</label>
                                        <div class="control has-icons-left">
                                            <input class="input" type="text" name="school" placeholder="Ваша школа"
                                                   required value="{{ student.school }}">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-school"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="columns is-centered my-2">
                                        <input type="submit" value="Изменить" class="button is-success is-rounded"
                                               name="school_without_page">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="column is-6">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered"><strong>Присоединение к существующей школе</strong>
                            </p>
                            <hr>
                            <form action="{% url 'join_school' %}" method="POST">
                                {% csrf_token %}

                                <div class="field">
                                    <label class="label">Школы на сайте</label>
                                    <div class="control">
                                        <div class="select is-fullwidth is-rounded">
                                            <select name="school_id">
                                                <option value="0">Выберите школу</option>
                                                {% for school in schools %}
                                                    <option value="{{ school.id }}">
                                                        ({{ school.city }}) {{ school.short_name }}
                                                        - {{ school.full_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns is-centered my-2">
                                    <input type="submit" name="school_with_page" class="button is-success is-rounded"
                                           value="Отправить заявку">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}