{% extends "base.html" %}
{% block title %} Заявки на присоединение к школе {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Заявки на присоединение к школе </h1>
            <p class="subtitle">
                Будьте внимательны, после подтверждения заявки пользователь сможет писать и оценивать
                комментарии в ленте школы
            </p>
            <hr>
            {% include "helpers/status_text.html" %}
            {% if requests|length > 0 %}
                <table class="table is-hoverable is-fullwidth has-text-centered">
                    <thead>
                    <tr>
                        <th> №</th>
                        <th> Пользователь</th>
                        <th> Почта</th>
                        <th> Дополнительная информация</th>
                        <th> Статус</th>
                        <th> Решение</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th> №</th>
                        <th> Пользователь</th>
                        <th> Почта</th>
                        <th> Дополнительная информация</th>
                        <th> Статус</th>
                        <th> Решение</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for req in requests %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>
                                {{ req.profile.user.first_name }} {{ req.profile.user.last_name }}
                                {% if req.profile.role == "TEACHER" %}
                                    <span class="tag is-rounded is-success"> Учитель </span>
                                {% elif req.profile.role == "STUDENT" %}
                                    <span class="tag is-rounded is-link">Ученик</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ req.profile.user.email }}
                            </td>
                            <td>
                                {% if req.profile.role == "TEACHER" %}
                                    <span class="tag is-rounded">{{ req.teacher.city }}</span>
                                    <a href="{{ req.teacher.photo.url }}" target="_blank"><span
                                            class="tag is-rounded has-text-link">Посмотреть фото</span></a>
                                {% elif req.profile.role == "STUDENT" %}
                                    <span class="tag is-rounded">{{ req.student.school }}</span>
                                    <span class="tag is-rounded">{{ req.student.city }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if req.status == "REVIEW" %}
                                    <span class="tag is-rounded">В рассмотрении</span>
                                {% elif req.status == "APPROVE" %}
                                    <span class="tag is-rounded"> Одобрена </span>
                                {% elif req.status == "REJECT" %}
                                    <span class="tag is-rounded">Отклонена</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="buttons is-centered">
                                    {% if req.status == "REVIEW" %}
                                        <a href="{% url 'approve_request_for_join_school' school_id=school.id request_id=req.id %}"
                                           class="button is-success is-rounded is-small"> Одобрить </a>
                                        <a href="{% url 'reject_request_for_join_school' school_id=school.id request_id=req.id %}"
                                           class="button is-danger is-rounded is-small"> Отклонить </a>
                                    {% elif req.status == "APPROVE" %}
                                        <a href="{% url 'reject_request_for_join_school' school_id=school.id request_id=req.id %}"
                                           class="button is-danger is-rounded is-small"> Отклонить </a>
                                    {% elif req.status == "REJECT" %}
                                        <a href="{% url 'approve_request_for_join_school' school_id=school.id request_id=req.id %}"
                                           class="button is-success is-rounded is-small"> Одобрить </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="columns is-centered">
                    <span class="tag is-medium is-rounded is-link"> Заявок пока нет! </span>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}