{% extends "base.html" %}
{% block title %} Добавить новые фотографии {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Добавить новую вкладку в галерею </h1>
            <p class="subtitle"><a href="{% url 'each_school' school_id=school.id %}">Вернуться на страницу школы</a>
            </p>
            <hr>
            {% include "helpers/status_text.html" %}

            <form action="{% url 'add_folder' school_id=school.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="columns is-centered">
                    <div class="column is-8">
                        <div class="field">
                            <label class="label has-text-left">Название вкладки</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Заголовок" required name="title">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                        </div>

                        <hr>

                        <div class="columns">
                            <div class="column is-4">
                                <p>
                                    Вам надо выбрать фото для обложки этой вкладки галереи (изображение будет работать
                                    как заставка). После этого во втором поле выберите все изображения, которые Вы
                                    хотите загрузить в эту вкладке галереи.
                                </p>
                            </div>

                            <div class="column is-8 is-vcentered has-text-centered">
                                <label class="label"> Фото для обложки </label>
                                <div class="field has-addons has-addons-centered">
                                    <div id="fileInputCard" class="file has-name is-boxed">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="photo" id="photo-input"
                                                   required>
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label" id="fileTextAboutChoose">
                                                Выберите файл...
                                            </span>
                                        </span>
                                            <span class="file-name" id="fileName">
                                            Файл не выбран
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="columns">
                            <div class="column is-4">
                                <p>
                                    Теперь выберите все фотографии, которые Вы захотите загрузить в эту вкладку галереи.
                                    Добавьте их, выбирая через Control/Command. Если Вы выберите фотографии заново, то
                                    загрузятся те, которые Вы выбрали во второй раз. Выбирайте фотографии формата .jpeg/.jpg.
                                </p>
                            </div>

                            <div class="column is-8 is-vcentered has-text-centered">
                                <label class="label"> Остальные фотографии </label>
                                <div class="field has-addons has-addons-centered">
                                    <div id="fileInputCard" class="file has-name is-boxed">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="gallery_photo_add"
                                                   id="gallery-photo-add" multiple onchange="preview_image()" required>
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label" id="fileTextAboutChoose">
                                                Выберите файл...
                                            </span>
                                        </span>
                                            <span class="file-name" id="fileName">

                                        </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="columns is-multiline" id="image_preview">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="columns is-centered">
                            <input type="submit" class="button is-success is-rounded" value="Отправить">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>

    <script>
        function preview_image() {
            $("#image_preview").empty();
            let total_file = document.getElementById("gallery-photo-add").files.length;
            for (let i = 0; i < total_file; i++) {
                $('#image_preview').append(
                    "<div class='column is-3'>" +
                    "   <figure class='image'>" +
                    "       <img src='" + URL.createObjectURL(event.target.files[i]) + "'>" +
                    "   </figure>" +
                    "</div>"
                );
            }
        }
    </script>

    <script>
        document.getElementById("photo-input").onchange = function () {
            document.getElementById("fileName").innerText = this.value.replace(/.*[\/\\]/, '');
            document.getElementById("fileTextAboutChoose").innerText = "Осталось отправить!"
            $('#fileInputCard').addClass('is-success');
        };
    </script>
{% endblock %}