{% extends "base.html" %}
{% block title %} Фотогалерея {% endblock %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Фотогалерея школы {{ school.short_name }}</h1>
            <p class="subtitle">
                <span class="is-size-4"><strong>{{ folder.title }}</strong></span>
                <span class="has-text-grey is-size-5"><i>{{ folder.created_at }}</i></span></p>
            <hr>

            <div class="columns is-centered">
                <div class="fotorama" data-autoplay="true" data-allowfullscreen="native" data-loop="true">
                    {% for image in all_images %}
                        <img src="{{ image.image.url }}" alt="Фотография" data-full="{{ image.image.url }}">
                    {% endfor %}
                </div>
            </div>

            <hr>
            <p class="subtitle is-size-4"> <strong>Все фотографии списком</strong></p>
            <div class="columns is-multiline">
                {% for image in all_images %}
                    <div class="column is-3">
                        <figure class="image">
                            <a href="{{ image.image.url }}" target="_blank"><img src="{{ image.image.url }}" alt="Фотография"></a>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}