{% extends "base.html" %}
{% block title %} Добавить запись в ленту школы {% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/rrpjbqbpyvd3nodvjwjcjdugefmzwmdruoyhwawe7wm7jybr/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            plugins: "link",
            toolbar: 'undo redo | styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link'
        });
    </script>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Добавить новую запись в ленту школы {{ school.short_name }} </h1>
            <p class="subtitle"><a href="{% url 'each_school' school_id=school.id %}">Вернуться на страницу школы</a></p>
            <hr>
            {% include "helpers/status_text.html" %}
            <form action="{% url 'add_post' school_id=school.id %}" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label class="label has-text-left">Заголовок поста</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Заголовок" required name="title">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="field has-addons has-addons-centered">
                            <div id="fileInputCard" class="file has-name is-boxed">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="photo" id="photo-input">
                                    <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label" id="fileTextAboutChoose">
                                                Выберите файл...
                                            </span>
                                        </span>
                                    <span class="file-name" id="fileName">
                                            Файл не выбран
                                        </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Супер новость!" name="content"
                                  required></textarea>
                    </div>
                </div>
                <hr>
                <div class="columns is-centered">
                    <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-success is-rounded" value="Опубликовать">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <script>
        document.getElementById("photo-input").onchange = function () {
            document.getElementById("fileName").innerText = this.value.replace(/.*[\/\\]/, '');
            document.getElementById("fileTextAboutChoose").innerText = "Осталось отправить!"
            $('#fileInputCard').addClass('is-success');
        };
    </script>
{% endblock %}