{% extends "base.html" %}
{% block title %} Вся лента школы {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Лента школы {{ school.short_name }}</h1>
            <p class="subtitle"><a href="{% url 'each_school' school_id=school.id %}">Вернуться на страницу школы</a>
            </p>
            <hr>
            {% if posts|length > 0 %}
                <div class="columns is-multiline">
                    {% for post in posts %}
                        <div class="column is-4">
                            <div class="card">
                                <div class="card-content">
                                    <p class="has-text-centered subtitle"><strong>{{ post.title }}</strong></p>
                                    <hr>
                                    {{ post.content|safe }}
                                    {% if post.photo %}
                                        <hr>
                                        <p>
                                        <figure class="image">
                                            <img src="{{ post.photo.url }}" alt="Фотография для поста">
                                        </figure>
                                        </p>
                                    {% endif %}
                                    <hr>
                                    <div class="columns is-centered">
                                        <div class="column is-6 has-text-centered">
                                            {% for like in like_for_posts %}
                                                {% if like.0 == post.id %}
                                                    {% if like.2 is True %}
                                                        <a href="{% url 'unlike_for_post' school_id=school.id post_id=post.id %}"><span
                                                                class="icon is-medium has-text-danger"><i
                                                                class="fas fa-lg fa-heart"></i></span></a>
                                                    {% else %}
                                                        <a href="{% url 'like_for_post' school_id=school.id post_id=post.id %}"><span
                                                                class="icon is-medium"><i
                                                                class="fas fa-lg fa-heart"></i></span></a>
                                                    {% endif %}
                                                    <span class="is-size-4">{{ like.1 }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="column is-6 has-text-centered">
                                            <p class="has-text-grey">
                                                {{ post.author.user.first_name }} {{ post.author.user.last_name }}
                                            </p>
                                            <p class="has-text-grey">
                                                {{ post.created_at }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="{% url 'each_post' school_id=school.id post_id=post.id %}"
                                       class="card-footer-item"> Прокомментировать </a>
                                    {% if can_manage or post.author == profile %}
                                        <a href="{% url 'edit_post' school_id=school.id post_id=post.id %}" class="card-footer-item">Изменить</a>
                                        <a href="{% url 'delete_post' school_id=school.id post_id=post.id %}" class="card-footer-item">Удалить</a>
                                    {% endif %}
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="has-text-centered">
                    <span class="tag is-danger is-rounded is-medium"> В ленте школы пока пусто</span>
                </p>
            {% endif %}
        </div>
    </section>
{% endblock %}