{% extends "base.html" %}
{% block title %} Страница поста {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Пост в школе {{ school.short_name }}</h1>
            <p class="subtitle"> Здесь Вы можете прокомментировать пост и оценить комментарии других участников</p>
            <hr>
            <div class="card">
                <div class="card-content">
                    <p class="subtitle has-text-centered"><strong>{{ post.title }}</strong></p>
                    <hr>
                    <p>
                        {{ post.content|safe }}
                    </p>
                    <hr>
                    <div class="columns is-centered">
                        <div class="column is-6 has-text-centered">
                            {% for like in likes %}
                                {% if like.0 == post.id %}
                                    {% if like.2 is True %}
                                        <a href="{% url 'unlike_for_post' school_id=school.id post_id=post.id %}"><span
                                                class="icon is-medium has-text-danger"><i
                                                class="fas fa-lg fa-heart"></i></span></a>
                                    {% else %}
                                        <a href="{% url 'like_for_post' school_id=school.id post_id=post.id %}"><span
                                                class="icon is-medium"><i
                                                class="fas fa-lg fa-heart"></i></span></a>
                                    {% endif %}
                                    <span class="is-size-4">{{ like.1 }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="column is-6 has-text-centered">
                            <p class="has-text-grey">
                                <a href="{% url 'each_user' user_id=post.author.user.id %}">{{ post.author.user.first_name }} {{ post.author.user.last_name }}</a>
                            </p>
                            <p class="has-text-grey">
                                {{ post.created_at }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-content">
                    <p class="subtitle"><strong>Напишите комментарий</strong></p>
                    <hr>
                    {% include "helpers/status_text.html" %}
                    <form action="{% url 'each_post' school_id=school.id post_id=post.id %}" method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Ваш комментарий</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Пару слов об этом посте..." name="comment"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <input type="submit" class="button is-rounded is-success" value="Опубликовать">
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            {% if comments|length > 0 %}
                {% for comment in comments %}
                    <article class="message">
                        <div class="message-body">
                            <div class="columns is-centered">
                                <div class="column is-8">
                                    <p class="subtitle">
                                        <strong><a href="{% url 'each_user' user_id=comment.0.author.user.id %}">{{ comment.0.author.user.first_name }} {{ comment.0.author.user.last_name }}</a></strong>
                                        <span class="is-size-6">{{ comment.0.created_at }}</span><br>
                                        {% if comment.0.author.role == "TEACHER" %}
                                            <span class="tag is-rounded is-link">Учитель</span>
                                        {% elif comment.0.author.role == "PARENT" %}
                                            <span class="tag is-rounded is-link">Родитель</span>
                                        {% elif comment.0.author.role == "STUDENT" %}
                                            <span class="tag is-rounded is-link">Ученик</span>
                                        {% else %}
                                            <span class="tag is-rounded is-warning">Не подтвержденный пользователь</span>
                                        {% endif %}

                                        {% if comment.0.author == profile %}
                                            <span class="tag is-rounded is-success"> Это Вы </span>
                                        {% endif %}

                                        {% if comment.1 is True %}
                                            <span class="tag is-rounded is-success"> Участник школы </span>
                                        {% endif %}

                                    </p>
                                    <p class="is-size-4">
                                        {{ comment.0.content }}
                                    </p>
                                </div>
                                <div class="column is-4">
                                    <p>
                                        {% for like in comment_votes %}
                                            {% if like.0 == comment.0.id %}
                                                {% if like.1 >= 0 %}
                                                    <span class="has-text-success is-size-5"><strong>+{{ like.1 }}</strong></span>
                                                {% else %}
                                                    <span class="has-text-danger is-size-5"><strong>{{ like.1 }}</strong></span>
                                                {% endif %}

                                                {% if comment.0.author != profile %}
                                                    {% if like.2 is True %}
                                                        <span class="has-text-success"><span class="icon"><i
                                                                class="fas fa-lg fa-plus-square"></i></span></span>
                                                        <a style="text-decoration: none"
                                                           href="{% url 'minus_for_comment' comment_id=comment.0.id %}">
                                                            <span class="icon"><i class="fas fa-lg fa-minus-square"></i></span>
                                                        </a>
                                                    {% elif like.3 is True %}
                                                        <a style="text-decoration: none"
                                                           href="{% url 'plus_for_comment' comment_id=comment.0.id %}">
                                                            <span class="icon"><i class="fas fa-lg fa-plus-square"></i></span>
                                                        </a>
                                                        <span class="has-text-danger"><span class="icon"><i
                                                                class="fas fa-lg fa-minus-square"></i></span></span>
                                                    {% elif like.2 is False and like.3 is False %}
                                                        <a style="text-decoration: none"
                                                           href="{% url 'plus_for_comment' comment_id=comment.0.id %}">
                                                            <span class="icon"><i class="fas fa-lg fa-plus-square"></i></span>
                                                        </a>
                                                        <a style="text-decoration: none"
                                                           href="{% url 'minus_for_comment' comment_id=comment.0.id %}">
                                                            <span class="icon"><i class="fas fa-lg fa-minus-square"></i></span>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <div class="columns is-centered">
                    <span class="tag is-medium is-link is-rounded">Станьте первым, кто оставит комментарий!</span>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}