{% extends "base.html" %}
{% block title %} Изменить пост в ленте {% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/rrpjbqbpyvd3nodvjwjcjdugefmzwmdruoyhwawe7wm7jybr/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            plugins: "link",
            toolbar: 'undo redo | styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link'
        });
    </script>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Изменить запись в ленте школы {{ school.short_name }} </h1>
            <p class="subtitle"><a href="{% url 'each_school' school_id=school.id %}">Вернуться на страницу школы</a>
            </p>
            <hr>
            {% include "helpers/status_text.html" %}
            <form action="{% url 'edit_post' school_id=school.id post_id=post.id %}" method="POST" enctype="multipart/form-data"
                  novalidate>
                {% csrf_token %}

                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label class="label has-text-left">Заголовок поста</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="Заголовок" required name="title" value="{{ post.title }}">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Супер новость!" name="content"
                                  required>{{ post.content|safe }}</textarea>
                    </div>
                </div>
                <hr>
                <div class="columns is-centered">
                    <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-success is-rounded" value="Изменить">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}