{% if error_text or success_text %}
    <div class="columns is-centered my-2">
        {% if error_text %}
            <span class="tag is-danger is-rounded">{{ error_text }}</span>
        {% elif success_text %}
            <span class="tag is-success is-rounded">{{ success_text }}</span>
        {% endif %}
    </div>
{% endif %}