{% extends "base.html" %}
{% block title %} Добавить администраторов в школу {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Добавить администраторов школы {{ school.short_name }}</h1>
            <p class="subtitle"> Вы можете добавить администратора школы из учителей, которые присоединились к
                школе </p>
            <hr>
            {% include "helpers/status_text.html" %}
            {% if candidates|length > 0 %}
                <table class="table is-hoverable is-fullwidth has-text-centered">
                    <thead>
                    <tr>
                        <th> №</th>
                        <th> Пользователь</th>
                        <th> Почта</th>
                        <th> Решение</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th> №</th>
                        <th> Пользователь</th>
                        <th> Почта</th>
                        <th> Решение</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for obj in candidates %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>
                                {{ obj.0.profile.user.first_name }} {{ obj.0.profile.user.last_name }}
                            </td>
                            <td>
                                {{ obj.0.profile.user.email }}
                            </td>
                            <td>
                                <div class="buttons is-centered">
                                    {% if obj.1 is True %}
                                        <span class="tag is-rounded is-success"> Уже админ </span>
                                    {% else %}
                                        <a href="{% url 'make_admin_for_school' school_id=obj.0.school.id profile_id=obj.0.profile.id %}"
                                           class="button is-success is-rounded is-small">
                                            Сделать админом
                                        </a>
                                    {% endif %}

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="columns is-centered">
                    <span class="tag is-medium is-rounded is-link"> Заявок пока нет! </span>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}