{% extends "base.html" %}
{% block title %} Изменение школы {% endblock %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b236e1dd-bfdc-4475-a49a-c34714003fa1&lang=ru_RU"
            type="text/javascript"></script>

    <style>
        .is-none {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title"> Изменение школы {{ school.short_name }} </h1>
        <hr>
        <article id="error_message" class="message is-danger is-none">
            <div class="message-header">
                <p> Заполните все поля </p>
            </div>
            <div class="message-body">
                Пожалуйста, заполните все поля! К сожалению, сейчас Вы что-то пропустили.
                Пожалуйста, попробуйте еще раз!
            </div>
        </article>

        {% include 'helpers/status_text.html' %}

        <div class="columns is-centered">
            <div class="column is-4">
                <div class="field">
                    <label class="label"> Сокращенное название школы </label>
                    <div class="control has-icons-left">
                        <input type="text" class="input" name="short_name" id="short_name"
                               placeholder="ГБОУ №1234" value="{{ school.short_name }}">
                        <span class="icon is-small is-left">
                                    <i class="fas fa-building"></i>
                                </span>
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="field">
                    <p class="control is-expanded">
                        <label for="long_title"> <strong>Полное название школы</strong></label>
                        <textarea id="full_name" class="textarea"
                                  placeholder="Государственное бюджетное образовательное учреждение №1234"
                                  required>{{ school.full_name }} </textarea>
                    </p>
                </div>
            </div>

            <div class="column is-4">
                <div class="field">
                    <p class="control is-expanded">
                        <label class="label"> Номер школы </label>
                    <div class="control has-icons-left">
                        <input type="number" class="input" name="number" id="number" placeholder="1234" value="{{ school.number }}">
                        <span class="icon is-small is-left">
                                    <i class="fas fa-sort-numeric-up"></i>
                                </span>
                    </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                <div class="field">
                    <p class="control is-expanded">
                        <label class="label"> Адрес школы</label>
                    <div class="control has-icons-left">
                        <input type="text" id="suggest" class="input" placeholder="Введите адрес" required value="{{ school.address }}">
                        <span class="icon is-small is-left">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                    </div>
                    </p>
                </div>
            </div>

            <div class="column is-4">
                <div class="field">
                    <label class="label">Ваш телефон (в любом формате)</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="+7 (903) 123-45-67"
                               name="phone_coord" id="phone_coord" required value="{{ school.phone_coordinator }}">
                        <span class="icon is-small is-left">
                                            <i class="fas fa-phone"></i>
                                        </span>
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="field">
                    <label class="label">Телефон школы (в любом формате)</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="+7 (903) 123-45-67"
                               name="phone_school" id="phone_school" required value="{{ school.phone }}">
                        <span class="icon is-small is-left">
                                            <i class="fas fa-phone"></i>
                                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-centered">
            <div class="column is-6">
                <div class="field">
                    <label class="label"> Почта школы </label>
                    <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Почта" name="email_school"
                               id="email_school" required value="{{ school.email }}">
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="columns is-centered">
            <button class="button is-success is-rounded" onclick="ready_for_sent()">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Изменить данные школы</span>
            </button>
        </div>
    </div>
</section>


<script>
    ymaps.ready(init);

    function init() {
        var suggestView = new ymaps.SuggestView('suggest'),
            map,
            placemark;
    }

    function ready_for_sent() {
        let address = $('#suggest').val();
        let short_name = $('#short_name').val();
        let full_name = $('#full_name').val();
        let number = $('#number').val()
        let phone_coord = $('#phone_coord').val();
        let phone_school = $('#phone_school').val();
        let email_school = $('#email_school').val();

        let country, city;

        function coords(crd, callback) {
            ymaps.geocode(crd).then(function (res) {
                callback(
                    res.geoObjects.get(0).geometry.getCoordinates(),
                    country = res.geoObjects.get(0).getCountry(),
                    city = res.geoObjects.get(0).getLocalities()[0]
                );
            });
        }

        if (address && short_name && full_name && number && phone_coord && phone_school && email_school) {
            coords(address, function (coords) {
                send(coords, address, country, city, short_name, full_name, number, phone_coord, phone_school, email_school)
            });
        } else {
            $('#error_message').even().removeClass("is-none");
        }
    }

    function send(coords, address, country, city, short_name, full_name, number, phone_coord, phone_school, email_school) {
        $.ajax({
            type: "POST",
            url: "/school/settings/edit/{{ school.id }}/",
            data: {
                coords: JSON.stringify(coords),
                address: address,
                country: country,
                city: city,
                short_name: short_name,
                full_name: full_name,
                number: number,
                phone_coord: phone_coord,
                phone_school: phone_school,
                email_school: email_school,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, success: function (response) {
                window.location.replace("/account")
            }
        })
    }
</script>
{% endblock %}