{% extends "base.html" %}
{% block title %} Добавление ребенка {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Добавление ребенка </h1>
            <p class="subtitle">
                Все очень просто - найдите своего и подайте заявку. После этого ребенок просто сам
                должен подвтердить, что Вы - его родитель
            </p>
            <hr>
            {% include 'helpers/status_text.html' %}
            <table class="table is-hoverable is-fullwidth has-text-centered">
                <thead>
                <tr>
                    <th> №</th>
                    <th> ФИО</th>
                    <th> Почта</th>
                    <th> Город </th>
                    <th> Указанная школа</th>
                    <th> Класс</th>
                    <th> Добавить</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th> №</th>
                    <th> ФИО</th>
                    <th> Почта</th>
                    <th> Город </th>
                    <th> Указанная школа</th>
                    <th> Класс</th>
                    <th> Добавить</th>
                </tr>
                </tfoot>

                <tbody>
                    <!-- Приходит список вида: [0] - ученик, [1] - его родители, [2] - школьный класс, [3] - присоединен ли к школе на сайте, [4] - школа -->
                    {% for child in children %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>{{ child.0.profile.user.first_name }} {{ child.0.profile.user.last_name }}</td>
                            <td>{{ child.0.profile.user.email }}</td>
                            <td>{{ child.0.city }}</td>
                            <td>
                                {% if child.3 is True %}
                                    <a href="{% url 'each_school' school_id=child.4.id %}">{{ child.4.short_name }}</a>
                                {% else %}
                                    {{ child.4 }} <span class="tag is-rounded is-danger">Этой школы нет на сайте</span>
                                {% endif %}
                            </td>
                            <td>
                                <span class="tag is-rounded is-link">{{ child.2.number }} "{{ child.2.letter }}"</span>
                            </td>
                            <td>
                                <a href="{% url 'request_to_child' profile_id=child.0.profile.id %}" class="button is-rounded is-success is-small is-outlined"> Добавить! </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}