{% extends "base.html" %}
{% block title %} Изменение почты {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="{% url 'account' %}">
                            <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                            <span> Вернуться в профиль </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_avatar' %}">
                            <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                            <span> Изменить аватарку </span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="{% url 'edit_email' %}">
                            <span class="icon is-small"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                            <span> Изменить почту </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_password' %}">
                            <span class="icon is-small"><i class="fas fa-lock" aria-hidden="true"></i></span>
                            <span> Изменить пароль </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'confirm_email' %}">
                            <span class="icon is-small"><i class="fas fa-plus"></i></span>
                            <span> Подтверждение почты </span>
                        </a>
                    </li>
                    {% if profile.role == "TEACHER" %}
                        <li>
                            <a href="{% url 'edit_teacher' %}">
                                <span class="icon is-small"><i class="fas fa-graduation-cap"></i></span>
                                <span> Изменить данные учителя </span>
                            </a>
                        </li>
                    {% elif profile.role == "STUDENT" %}
                        <li>
                            <a href="{% url 'edit_student' %}">
                                <span class="icon is-small"><i class="fas fa-child"></i></span>
                                <span> Изменить данные ученика </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% if error_text or success_text %}
                <div class="columns is-centered">
                    {% if error_text %}
                        <span class="tag is-danger is-rounded">{{ error_text }}</span>
                    {% elif success_text %}
                        <span class="tag is-success is-rounded">{{ success_text }}</span>
                    {% endif %}
                </div>
            {% endif %}
            <div class="columns">
                <div class="column is-6 is-offset-3">

                    <p class="title">
                        <span>Изменение почты</span>
                    </p>
                    <div class="columns">
                        <div class="column is-4">
                            <p class="subtitle">
                                <strong>Текущая почта</strong>
                            </p>
                        </div>
                        <div class="column is-8">
                            <p class="subtitle">
                                {{ profile.user.email }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="columns is-centered">
                        <div class="column is-8">
                            <form action="{% url 'edit_email' %}" method="POST">
                                {% csrf_token %}

                                <div class="field">
                                    <p class="control has-icons-left is-expanded">
                                        <input class="input is-medium" type="email" placeholder="Ваша новая почта"
                                               name="email" required>
                                        <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                    </p>
                                </div>


                                <div class="field has-text-centered">
                                    <div class="control is-expanded">
                                        <input type="submit" class="button is-link is-rounded"
                                               value="Отправить">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById("photo-input").onchange = function () {
            document.getElementById("fileName").innerText = this.value.replace(/.*[\/\\]/, '');
            document.getElementById("fileTextAboutChoose").innerText = "Осталось отправить!"
            $('#fileInputCard').addClass('is-success');
        };
    </script>
{% endblock %}