{% extends "base.html" %}
{% block title %} Изменение аватарки {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="{% url 'account' %}">
                            <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                            <span> Вернуться в профиль </span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="{% url 'edit_avatar' %}">
                            <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                            <span> Изменить аватарку </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_email' %}">
                            <span class="icon is-small"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                            <span> Изменить почту </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_password' %}">
                            <span class="icon is-small"><i class="fas fa-lock" aria-hidden="true"></i></span>
                            <span> Изменить пароль </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'confirm_email' %}">
                            <span class="icon is-small"><i class="fas fa-plus"></i></span>
                            <span> Подтверждение почты </span>
                        </a>
                    </li>
                    {% if profile.role == "TEACHER" %}
                        <li>
                            <a href="{% url 'edit_teacher' %}">
                                <span class="icon is-small"><i class="fas fa-graduation-cap"></i></span>
                                <span> Изменить данные учителя </span>
                            </a>
                        </li>
                    {% elif profile.role == "STUDENT" %}
                        <li>
                            <a href="{% url 'edit_student' %}">
                                <span class="icon is-small"><i class="fas fa-child"></i></span>
                                <span> Изменить данные ученика </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <p class="title"> Изменение аватарки </p>
                    <hr>
                    <div class="columns is-centered">
                        <form action="{% url 'edit_avatar' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="field">
                                <div id="fileInputCard" class="file has-name is-boxed">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="avatar" id="photo-input"
                                               required>
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label" id="fileTextAboutChoose">
                                                Выберите файл...
                                            </span>
                                        </span>
                                        <span class="file-name" id="fileName">
                                            Файл не выбран
                                        </span>
                                    </label>
                                </div>
                            </div>

                            <div class="field has-text-centered">
                                <div class="control is-expanded">
                                    <input type="submit" class="button is-success is-rounded" value="Отправить">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById("photo-input").onchange = function () {
            document.getElementById("fileName").innerText = this.value.replace(/.*[\/\\]/, '');
            document.getElementById("fileTextAboutChoose").innerText = "Осталось отправить!"
            $('#fileInputCard').addClass('is-success');
        };
    </script>
{% endblock %}