{% extends "base.html" %}
{% block title %} Изменение данных об учителе {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="{% url 'account' %}">
                            <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                            <span> Вернуться в профиль </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_avatar' %}">
                            <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                            <span> Изменить аватарку </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_email' %}">
                            <span class="icon is-small"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                            <span> Изменить почту </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_password' %}">
                            <span class="icon is-small"><i class="fas fa-lock" aria-hidden="true"></i></span>
                            <span> Изменить пароль </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'confirm_email' %}">
                            <span class="icon is-small"><i class="fas fa-plus"></i></span>
                            <span> Подтверждение почты </span>
                        </a>
                    </li>
                    {% if profile.role == "TEACHER" %}
                        <li class="is-active">
                            <a href="{% url 'edit_teacher' %}">
                                <span class="icon is-small"><i class="fas fa-graduation-cap"></i></span>
                                <span> Изменить данные учителя </span>
                            </a>
                        </li>
                    {% elif profile.role == "STUDENT" %}
                        <li>
                            <a href="{% url 'edit_student' %}">
                                <span class="icon is-small"><i class="fas fa-child"></i></span>
                                <span> Изменить данные ученика </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% include "helpers/status_text.html" %}
            <form action="{% url 'edit_teacher' %}" method="POST">
                {% csrf_token %}

                <div class="columns is-centered">
                    <div class="column is-4">
                        <div class="field">
                            <label class="label"> Ваше имя </label>
                            <div class="control has-icons-left">
                                {% if profile.user.first_name is not None %}
                                    <input type="text" class="input" name="name"
                                           placeholder="Ваше имя" value="{{ profile.user.first_name }}">
                                {% else %}
                                    <input type="text" class="input" name="name"
                                           placeholder="Ваше имя">
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="field">
                            <label class="label"> Ваше отчество </label>
                            <div class="control has-icons-left">
                                {% if teacher.middle_name is not None %}
                                    <input type="text" class="input" name="middle_name"
                                           placeholder="Ваше отчество" value="{{ teacher.middle_name }}">
                                {% else %}
                                    <input type="text" class="input" name="middle_name"
                                           placeholder="Ваше отчество">
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="field">
                            <label class="label"> Ваша фамилия </label>
                            <div class="control has-icons-left">
                                {% if profile.user.last_name is not None %}
                                    <input type="text" class="input" name="surname"
                                           placeholder="Ваша фамилия" value="{{ profile.user.last_name }}">
                                {% else %}
                                    <input type="text" class="input" name="surname"
                                           placeholder="Ваша фамилия">
                                {% endif %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="field">
                    <label class="label"> Любимые предметы </label>
                    <div class="control">
                        <label class="checkbox m-3">
                            {% for obj in subjects %}
                                {% if obj.0 == "Математика" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Математика" checked> Математика
                                {% elif obj.0 == "Математика" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Математика"> Математика
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-3">
                            {% for obj in subjects %}
                                {% if obj.0 == "Русский язык" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Русский язык" checked> Русский язык
                                {% elif obj.0 == "Русский язык" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Русский язык"> Русский язык
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-3">
                            {% for obj in subjects %}
                                {% if obj.0 == "Чтение" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Чтение" checked> Чтение
                                {% elif obj.0 == "Чтение" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Чтение"> Чтение
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-3">
                            {% for obj in subjects %}
                                {% if obj.0 == "Труд" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Труд" checked> Труд
                                {% elif obj.0 == "Труд" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Труд"> Труд
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-3">
                            {% for obj in subjects %}
                                {% if obj.0 == "Окружающий мир" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Окружающий мир" checked> Окружающий мир
                                {% elif obj.0 == "Окружающий мир" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Окружающий мир"> Окружающий мир
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Музыка" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Музыка" checked> Музыка
                                {% elif obj.0 == "Музыка" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Музыка"> Музыка
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "ИЗО" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="ИЗО" checked> ИЗО
                                {% elif obj.0 == "ИЗО" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="ИЗО"> ИЗО
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Физкультура" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Физкультура" checked> Физкультура
                                {% elif obj.0 == "Физкультура" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Физкультура"> Физкультура
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Родной язык" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Родной язык" checked> Родной язык
                                {% elif obj.0 == "Родной язык" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Родной язык"> Родной язык
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Основы религиозных культур и светской этики" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Основы религиозных культур и
                                    светской этики" checked> Основы религиозных культур и светской этики
                                {% elif obj.0 == "Основы религиозных культур и светской этики" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Основы религиозных культур и
                                    светской этики"> Основы религиозных культур и светской этики
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Иностранный язык" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Иностранный язык" checked> Иностранный
                                    язык
                                {% elif obj.0 == "Иностранный язык" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Иностранный язык"> Иностранный язык
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "История" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="История" checked> История
                                {% elif obj.0 == "История" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="История"> История
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Литература" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Литература" checked> Литература
                                {% elif obj.0 == "Литература" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Литература"> Литература
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "ОБЖ" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="ОБЖ" checked> ОБЖ
                                {% elif obj.0 == "ОБЖ" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="ОБЖ"> ОБЖ
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Технология" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Технология" checked> Технология
                                {% elif obj.0 == "Технология" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Технология"> Технология
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "География" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="География" checked> География
                                {% elif obj.0 == "География" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="География"> География
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Биология" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Биология" checked> Биология
                                {% elif obj.0 == "Биология" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Биология"> Биология
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Информатика" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Информатика" checked> Информатика
                                {% elif obj.0 == "Информатика" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Информатика"> Информатика
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Обществознание" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Обществознание" checked> Обществознание
                                {% elif obj.0 == "Обществознание" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Обществознание"> Обществознание
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Черчение" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Черчение" checked> Черчение
                                {% elif obj.0 == "Черчение" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Черчение"> Черчение
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Физика" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Физика" checked> Физика
                                {% elif obj.0 == "Физика" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Физика"> Физика
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Химия" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Химия" checked> Химия
                                {% elif obj.0 == "Химия" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Химия"> Химия
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Экономика" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Экономика" checked> Экономика
                                {% elif obj.0 == "Экономика" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Экономика"> Экономика
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Правоведение" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Правоведение" checked> Правоведение
                                {% elif obj.0 == "Правоведение" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Правоведение"> Правоведение
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Философия" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Философия" checked> Философия
                                {% elif obj.0 == "Философия" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Философия"> Философия
                                {% endif %}
                            {% endfor %}
                        </label>
                        <label class="checkbox m-2">
                            {% for obj in subjects %}
                                {% if obj.0 == "Астрономия" and obj.1 is True %}
                                    <input type="checkbox" name="subject" value="Астрономия" checked> Астрономия
                                {% elif obj.0 == "Астрономия" and obj.1 is False %}
                                    <input type="checkbox" name="subject" value="Астрономия"> Астрономия
                                {% endif %}
                            {% endfor %}
                        </label>
                    </div>
                </div>
                <hr>

                <div class="columns is-centered">
                    <input type="submit" value="Изменить данные" class="button is-rounded is-success">
                </div>
            </form>
        </div>
    </section>
{% endblock %}