{% extends "base.html" %}
{% block title %} Восстановление пароля {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered"> Восстановление пароля </h1>
            <p class="has-text-centered">
                Введите Вашу электронную почту и Вам придет новый пароль, по которому Вы сможете попасть к нам обратно!
            </p>
            <div class="columns is-centered">
                <div class="column is-6">
                    <hr>
                    {% include "helpers/status_text.html" %}
                    <form action="{% url 'forget_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label"> Ваша почта </label>
                            <div class="control has-icons-left">
                                <input class="input is-medium" type="text" placeholder="Ваша почта" name="email_for_new_password" required>
                                <span class="icon is-medium is-left"><i class="fas fa-envelope"></i></span>
                            </div>
                        </div>

                        <div class="columns is-centered my-3">
                            <div class="field">
                                <div class="control">
                                    <input type="submit" class="button is-success is-rounded" value="Отправить новый пароль">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}