<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2ebbc0ba64.js" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}

    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
    </style>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="navbar is-link is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index_page' %}">
            <span class="icon is-large">
                <i class="fas fa-2x fa-graduation-cap"></i>
            </span>
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                {% block index_page_tab %}
                    <a class="navbar-item" href="{% url 'index_page' %}"> Главная </a> {% endblock %}
                {% block all_schools_tab %} <a class="navbar-item" href="{% url 'all_schools' %}"> Все школы </a> {% endblock %}
                {% block faq_page_tab %} <a class="navbar-item" href="{% url 'faq' %}"> Часто задаваемые вопросы </a> {% endblock %}
                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        {% block account_tab %}
                            <a class="navbar-link" href="{% url 'account' %}">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span>Мой профиль</span>
                                </div>
                            </a>
                            <div class="navbar-dropdown is-boxed">
                                <a class="navbar-item" href="{% url 'account' %}">
                                    <div class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-id-card"></i>
                                        </span>
                                        <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
                                    </div>
                                </a>
                                <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                                    Настройки
                                </a>
                                <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                                    Статистика
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="{% url 'logout' %}">
                                    Выйти
                                </a>
                            </div>
                        {% endblock %}
                    </div>
                {% endif %}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        {% if request.user.is_authenticated %}

                        {% else %}
                            <p class="control">
                                <a class="button is-danger is-rounded" href="{% url 'login' %}">
                                    <span class="icon is-medium">
                                        <i class="fas fa-lg fa-running"></i>
                                    </span>
                                    <span> Войти </span>
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block br %} <br> <br> {% endblock %}
{% block content %} {% endblock %}

{% block footer %}
    <footer class="my-3 pt-3 text-muted has-text-centered text-small">
        <p class="mb-1">&copy; 2021 koritski.com</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"> Авторы </a></li>
            <li class="list-inline-item"><a href="#"> Написать в поддержку </a></li>
        </ul>
    </footer>
{% endblock %}

<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>
</body>
</html>