{% extends "base.html" %}
{% block title %} Часто задаваемые вопросы {% endblock %}

{% block content %}
    <section class="section">
        <div class="container py-4">
            <h2 class="title has-text-centered mb-6">Часто задаваемые вопросы </h2>
            <div class="mb-6">
                <div class="card block">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-medium"><i class="fas fa-lg fa-question-circle"></i></span>
                            </div>
                            <div class="media-content">
                                <h3 class="title is-4">
                                    Как происходит подтверждение личности на сайте?
                                </h3>
                                <p>
                                    После регистрации Вы должны выбрать свою роль. Для каждой роли процесс подтверждения
                                    немного разнится. Для ученика нужно указать свою школу, для родителя -
                                    сфотографировать себя с документом, где виден возраст, для учителя -
                                    сфотографировать себя с паспортом. Это нужно для того, чтобы обеспечить безопасность
                                    на сайте и избежать людей, которые хотят испортить имидж школе.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card block">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-medium"><i class="fas fa-lg fa-question-circle"></i></span>
                            </div>
                            <div class="media-content">
                                <h3 class="title is-4">
                                    Моей школы нет на сайте. Что делать?
                                </h3>
                                <p>
                                    Если Вы учитель, то просто создайте ее. Вы сможете это сделать сразу после
                                    подтверждения профиля. Если Вы ученик или родитель, то свяжитесь со школой,
                                    расскажите о нас и попросите создать страницу
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card block">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-medium"><i class="fas fa-lg fa-question-circle"></i></span>
                            </div>
                            <div class="media-content">
                                <h3 class="title is-4">
                                    Учителя не хотят создавать страницу школы, к кому обращаться?
                                </h3>
                                <p>
                                    Если Вашей школы нет на сайте и школа не хочет принимать участие в этом проекте, то
                                    свяжитесь с нами. Мы попробуем сами связаться со школой и узнать, что именно
                                    препятствует созданию страницы. В крайних случаях (когда просьб создать страницу
                                    школы много, а ее все нет) администрация сайта может принять решение о создании
                                    страницы школы самостоятельно
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card block">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-medium"><i class="fas fa-lg fa-question-circle"></i></span>
                            </div>
                            <div class="media-content">
                                <h3 class="title is-4">
                                    Как родителю присоединиться к школе?
                                </h3>
                                <p>
                                    Ваш ребенок должен присоединиться к школе, а Вы - к ребенку. Тогда присоединение к
                                    школе произойдет автоматически. Если ребенок не может зарегистрироваться, то Вы
                                    можете сделать это сами от своего лица, передав все данные ученику, если ему это
                                    потребуется
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}