{% extends "base.html" %}

{% block index_page_tab %} <a class="navbar-item is-active" href="{% url 'index_page' %}"> Главная </a> {% endblock %}
{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="container is-fluid">

        <section class="section">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-spaced"> Социальная сеть для всех людей, причастных к школе </h1>
                    <h2 class="subtitle">
                        Наша социальная сеть решает все проблемы коммуникации родителей, учителей, учеников и даже самих
                        школ - теперь для связи с любым человеком нужно сделать всего пару кликов.
                    </h2>
                    <div class="buttons is-centered">
                        <a class="control button is-danger is-rounded is-medium" href="{% url 'signup_page' %}">
                            <span class="icon">
                              <i class="fas fa-child"></i>
                            </span>
                            <span> Зарегистрироваться </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container has-text-centered py-4">
                <h2 class="title mb-6"> Как это работает? </h2>
                <div class="columns is-multiline is-centered">
                    <div class="column is-8 is-4-widescreen mb-5">
                        <h4 class="title"><small class="number">1</small> Найдите Вашу школу </h4>
                        <p>Вы можете это сделать на странице всех школ, где сможете найти школу в списке, либо на удобной карте.</p>
                    </div>
                    <div class="column is-8 is-4-widescreen mb-5">
                        <h4 class="title"><small class="number">2</small> Присоединитесь к ней </h4>
                        <p>В личном кабинете Вы сможете присоединиться к Вашей школе, чтобы принимать участие в ее жизни.</p>
                    </div>
                    <div class="column is-8 is-4-widescreen mb-5">
                        <h4 class="title"><small class="number">3</small> Развивайте школу</h4>
                        <p>Пишите комментарии, лайкайте посты и оцениваете комментарии. Также Вы можете просматривать фотографии в галереии школы!</p>
                    </div>
                </div>
                <div class="buttons is-centered">
                    <a class="button is-link is-rounded" href="{% url 'faq' %}">
                        <span>Остались вопросы?</span>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </section>

        {% load static %}
        <section class="section">
            <div class="container has-text-centered py-4">
                <h2 class="title">Авторы</h2>
                <p class="subtitle mb-6">Именно те, из-за кого здесь все работает</p>
                <div class="columns py-6">
                    <div class="column is-6">
                        <div class="level">
                            <div class="level-item">
                                <figure class="image is-128x128"><img class="is-rounded"
                                                                      src="{% static "image/sasha.jpg" %}"
                                                                      alt=""></figure>
                            </div>
                        </div>
                        <h5 class="title is-5">Корицкий Александр</h5>
                        <p class="subtitle is-6">Разработчик</p>
                    </div>
                    <div class="column is-6">
                        <div class="level">
                            <div class="level-item">
                                <figure class="image is-128x128"><img class="is-rounded"
                                                                      src="{% static "image/masha.jpg" %}"
                                                                      alt=""></figure>
                            </div>
                        </div>
                        <h5 class="title is-5">Асташкина Мария</h5>
                        <p class="subtitle is-6">Разработчик</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}