{% extends "base.html" %}
{% block title %} Все школы {% endblock %}

{% block all_schools_tab %}
    <a class="navbar-item is-active" href="{% url 'all_schools' %}"> Все школы </a> {% endblock %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b236e1dd-bfdc-4475-a49a-c34714003fa1&lang=ru_RU"
            type="text/javascript"></script>

    <style>
        .is-button-to-top {
            /* place it at the bottom-right corner */
            position: fixed;
            bottom: 30px;
            right: 30px;
            /* keep it at the top of everything else */
            z-index: 100;
        }

        html {
            scroll-behavior: smooth;
        }
    </style>
{% endblock %}

<style>
    div {
        width: 100vw;
        height: 100vh;
    }
</style>

{% block content %}
    <button onclick="topFunction()" id="button_to_top"
            class="button is-rounded is-medium is-link is-button-to-top"><span
            class="icon"><i class="fas fa-arrow-up"></i></span></button>
    <div class="columns">
        <div class="column is-5 section" style="overflow: scroll; max-height: 100vh;">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input is-rounded" type="text" placeholder="Поиск площадки" id="search">
                    <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
                </p>
            </div>
            <div id="schools">
                {% for school in schools %}
                    <div>
                        <hr>
                        <div class="card">
                            <div class="card-content">
                                <p class="subtitle"><span class="icon"><i class="fas fa-building"></i></span>
                                    <span>{{ school.short_name }}</span></p>
                                <p>
                                    {{ school.full_name }}
                                </p>
                                <p>
                                    <strong>Адрес:</strong> {{ school.address }}
                                </p>

                                <hr>
                                <p class="buttons">
                                    <button onclick="set_map_focus({{ school.coords_longitude|stringformat:"f" }}, {{ school.coords_latitude|stringformat:"f" }})"
                                            class="button is-link is-rounded is-expanded">
                                        Показать на карте
                                    </button>
                                    <a class="button is-rounded is-success"
                                       href="{% url 'each_school' school_id=school.id %}">
                                        <span class="icon is-small"><i class="fas fa-info"></i></span>
                                        <span> Узнать подробнее </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-7">
            <div style="height: 100%; width: 100%;" id="hei">
                <div id="map" style="width: auto; height: auto"></div>
            </div>
        </div>
    </div>

    <script>
        function setHeiHeight() {
            $('#map').css({
                height: $(window).height() + 'px',
                width: $(window).width() + 'px'
            });
        }

        setHeiHeight(); // устанавливаем высоту окна при первой загрузке страницы
        $(window).resize(setHeiHeight); // обновляем при изменении размеров окна
    </script>

    <script>
        var myMap;

        ymaps.ready(function () {
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 9,
                controls: ['searchControl', 'routeButtonControl', 'geolocationControl', 'fullscreenControl', 'zoomControl']
            });

            var search = myMap.controls.get('searchControl');
            search.events.add("resultselect", function (result) {
                console.log(search.getResultsArray()[result.get('index')].geometry.getCoordinates())
                console.log('request: ' + search.getRequestString());
            });

            {% for school in schools %}
                var myGeoObject = new ymaps.Placemark([{{ school.coords_longitude|stringformat:"f" }}, {{ school.coords_latitude|stringformat:"f" }}],
                    {
                        balloonContent:
                            '<div class="card">\n' +
                            '    <div class="card-content">\n' +
                            '        <p class="has-text-centered">\n' +
                            '           <a href="{% url 'each_school' school_id=school.id %}" class="button is-link is-rounded"> Перейти на страницу школы </a>\n' +
                            '        </p>\n' +
                            '    </div>\n' +
                            '</div>'
                    });
                myMap.geoObjects.add(myGeoObject);
            {% endfor %}

        });

        function set_map_focus(coords_longitude, coords_latitude) {
            myMap.setCenter([coords_longitude, coords_latitude]);
            myMap.setZoom(15);
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#search").keyup(function () {
                _this = this;

                $.each($("#schools div"), function () {
                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>

    <script>
        mybutton = document.getElementById("button_to_top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
{% endblock %}