{% extends "base.html" %}
{% block title %} Страница школы {% endblock %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b236e1dd-bfdc-4475-a49a-c34714003fa1&lang=ru_RU"
            type="text/javascript"></script>
{% endblock %}

{% block content %}
    <section class="section has-text-centered">
        <div class="container">
            <h1 class="title"> {{ school.short_name }}</h1>
            <p class="subtitle"> {{ school.full_name }}</p>
            <div class="has-text-centered">
                <span class="tag is-link is-rounded is-medium my-5">{{ school.address }}</span>
                {% if school.place_in_rating is not None %}
                    <span class="tag is-link is-rounded is-medium my-5">Топ-{{ school.place_in_rating }} в рейтинге школ</span>
                {% endif %}
            </div>

            <div class="tabs is-centered">
                <ul id="menu">
                    <li>
                        <a href="#blog">
                            <span class="icon is-small"><i class="fas fa-pen-alt" aria-hidden="true"></i></span>
                            <span> Лента школы </span>
                        </a>
                    </li>
                    <li>
                        <a href="#teachers">
                            <span class="icon is-small"><i class="fas fa-user-friends" aria-hidden="true"></i></span>
                            <span> Учителя </span>
                        </a>
                    </li>
                    {% if is_marks_for_exam_exist or is_info_about_olympics_exist or is_info_about_university %}
                        <li>
                            <a href="#marks">
                                <span class="icon is-small"><i class="fas fa-trophy" aria-hidden="true"></i></span>
                                <span> Достижения </span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#gallery">
                            <span class="icon is-small"><i class="fas fa-images" aria-hidden="true"></i></span>
                            <span>Фотогалерея</span>
                        </a>
                    </li>
                    <li>
                        <a href="#school_on_map">
                            <span class="icon is-small"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
                            <span> Контакты </span>
                        </a>
                    </li>
                    {% if can_manage %}
                        <li>
                            <a href="#settings">
                                <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
                                <span> Настройки </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

    <section class="section" id="blog">
        <div class="container">
            <h1 class="title has-text-centered"> Лента школы </h1>

            {% if posts|length > 0 %}
                <div class="columns is-multiline">
                    {% for post in posts %}
                        <div class="column is-4">
                            <div class="card">
                                <div class="card-content">
                                    <p class="has-text-centered subtitle"><strong>{{ post.title }}</strong></p>
                                    <hr>
                                    {{ post.content|safe }}
                                    {% if post.photo %}
                                        <hr>
                                        <p>
                                        <figure class="image">
                                            <img src="{{ post.photo.url }}" alt="Фотография для поста">
                                        </figure>
                                        </p>
                                    {% endif %}
                                    <hr>
                                    <div class="columns is-centered">
                                        <div class="column is-6 has-text-centered">
                                            {% for like in like_for_posts %}
                                                {% if like.0 == post.id %}
                                                    {% if like.2 is True %}
                                                        <a href="{% url 'unlike_for_post' school_id=school.id post_id=post.id %}"><span
                                                                class="icon is-medium has-text-danger"><i
                                                                class="fas fa-lg fa-heart"></i></span></a>
                                                    {% else %}
                                                        <a href="{% url 'like_for_post' school_id=school.id post_id=post.id %}"><span
                                                                class="icon is-medium"><i
                                                                class="fas fa-lg fa-heart"></i></span></a>
                                                    {% endif %}
                                                    <span class="is-size-4">{{ like.1 }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="column is-6 has-text-centered">
                                            <p class="has-text-grey">
                                                <a href="{% url 'each_user' user_id=post.author.user.id %}">{{ post.author.user.first_name }} {{ post.author.user.last_name }}</a>
                                            </p>
                                            <p class="has-text-grey">
                                                {{ post.created_at }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="{% url 'each_post' school_id=school.id post_id=post.id %}"
                                       class="card-footer-item"> Прокомментировать </a>
                                    {% if can_manage or post.author == profile %}
                                        <a href="{% url 'edit_post' school_id=school.id post_id=post.id %}"
                                           class="card-footer-item">Изменить</a>
                                        <a href="{% url 'delete_post' school_id=school.id post_id=post.id %}"
                                           class="card-footer-item">Удалить</a>
                                    {% endif %}
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="has-text-centered">
                    <span class="tag is-danger is-rounded is-medium"> В ленте школы пока пусто</span>
                </p>
            {% endif %}
            <hr>
            <div class="columns is-centered">
                <div class="column is-6 has-text-centered">
                    <a href="{% url 'all_posts_for_school' school_id=school.id %}"> Посмотреть всю ленту школы </a>
                </div>
                {% if can_manage %}
                    <div class="column is-6 has-text-centered">
                        <a href="{% url 'add_post' school_id=school.id %}"> Добавить новую запись </a>
                    </div>
                {% endif %}
            </div>
            <hr>
        </div>
    </section>

    <section class="section" id="teachers">
        <div class="container">
            <h1 class="title has-text-centered"> Учителя школы </h1>
            <div class="columns is-multiline is-centered">
                {% for human in people_for_school %}
                    <div class="column is-3">
                        <p class="subtitle has-text-centered">
                            {% if human.0.profile.role == "TEACHER" %}
                                <strong><a
                                        href="{% url 'each_user' user_id=human.0.profile.user.id %}">{{ human.0.profile.user.first_name }} {{ human.0.profile.user.last_name }}</a></strong>
                            {% elif human.0.profile.role == "ADMINISTRATION" %}
                                <strong>{{ human.0.profile.user.first_name }} {{ human.0.profile.user.last_name }}</strong>
                            {% endif %}
                        </p>
                        <p class="has-text-centered">
                            {% if human.0.profile.role == "TEACHER" %}
                                {% for subject in human.1 %}
                                    <span class="tag is-danger is-rounded">{{ subject.subject }}</span>
                                {% endfor %}
                            {% elif human.0.profile.role == "ADMINISTRATION" %}
                                <span class="tag is-success is-rounded">{{ human.0.position }}</span>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section" id="marks">
        <div class="container">
            {% if is_marks_for_exam_exist %}
                <h1 class="title has-text-centered"> Средние баллы ЕГЭ по предметам</h1>
                <div class="columns is-multiline">
                    {% for mark in average_marks %}
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-content">
                                    <p class="title is-4">
                                        {{ mark.subject }}
                                        <span class="tag is-medium is-success is-rounded my-3"> {{ mark.average_mark }} баллов</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endif %}

            {% if is_info_about_olympics_exist %}
                <h1 class="title has-text-centered"> Успехи в олимпиадах </h1>
                <div class="columns is-multiline">
                    {% for obj in olympics %}
                        <div class="column is-4">
                            <div class="card">
                            <div class="card-content">
                                <p class="title is-4"> {{ obj.name_of_olympic }} </p>
                                <span class="tag is-success is-rounded is-medium">{{ obj.subject }}</span>
                                <hr>
                                <div class="content">
                                    <strong>Ученик</strong>: {{ obj.name_of_student }} из класса №{{ obj.class_of_student }}
                                    <br>
                                    <strong>Диплом</strong>: {{ obj.place_in_olympic }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
                {% if is_olympics_more_than_three %}
                    <p class="has-text-centered">
                        <a href="{% url 'show_all_info_about_olympics' school_id=school.id %}"> Посмотреть все достижения в олимпиадах </a>
                    </p>
                {% endif %}
                <hr>
            {% endif %}

            {% if is_info_about_university %}
                <h1 class="title has-text-centered"> Статистика поступления </h1>
                <div class="columns is-multiline">
                    {% for year in years_for_university %}
                        <div class="column is-4">
                            <div class="card">
                                <div class="card-content">
                                    <p class="has-text-centered title is-4"> {{ year.year }} год поступления </p>
                                    <hr>
                                    {% for u in stats_for_year_of_university %}
                                        {% if u.year == year %}
                                            <div class="columns">
                                                <div class="column is-6 has-text-centered">
                                                    <strong>{{ u.university }}</strong>
                                                </div>
                                                <div class="column is-6 has-text-centered">
                                                    <span class="tag is-success is-rounded is-medium"> {{ u.count_people }} студентов</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="section" id="gallery">
        <div class="container">
            <h1 class="title has-text-centered"> Фотогалерея </h1>
            {% if folders|length > 0 %}
                <div class="columns is-multiline is-centered">
                    {% for folder in folders %}
                        <div class="column is-4">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="{{ folder.cover.url }}"
                                             alt="Заставка галереи">
                                    </figure>
                                </div>
                                <div class="card-content has-text-centered">
                                    <p class="title is-4">{{ folder.title }}</p>

                                    <a href="{% url 'each_folder' school_id=school.id folder_id=folder.id %}"
                                       class="button is-rounded"> Посмотреть все фотографии </a>
                                    <hr>
                                    <div class="content">
                                        <time datetime="2016-1-1">{{ folder.created_at }}</time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="has-text-centered">
                    <span class="tag is-danger is-rounded is-medium"> В галерее школы пока пусто</span>
                </p>
            {% endif %}
            {% if can_manage %}
                <hr>
                <p class="has-text-centered">
                    <a href="{% url 'add_folder' school_id=school.id %}"> Добавить фотографии </a>
                </p>
            {% endif %}
            <hr>
        </div>
    </section>

    <section class="section" id="school_on_map">
        <h1 class="title has-text-centered"> Школа на карте </h1>
    </section>
    <div style="height: 50%; width: 100%;" id="hei">
        <div id="map" style="width: auto; height: auto"></div>
    </div>
    <section class="section">
        <div class="columns">
            <div class="column is-6">
                <p class="subtitle has-text-centered">
                    <strong> Почта </strong>
                </p>
                <p class="has-text-centered">
                    <span class="tag is-rounded is-medium">{{ school.email }}</span>
                </p>
            </div>

            <div class="column is-6">
                <p class="subtitle has-text-centered">
                    <strong> Телефон </strong>
                </p>
                <p class="has-text-centered">
                    <span class="tag is-rounded is-medium">{{ school.phone }}</span>
                </p>
            </div>
        </div>
    </section>

    {% if can_manage %}
        <section class="section" id="settings">
            <div class="container">
                <hr>
                <h1 class="title has-text-centered"> Настройки </h1>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <div class="buttons is-centered">
                            <a href="{% url 'edit_school' school_id=school.id %}" class="button is-link is-rounded">
                                <span class="icon"><i class="fas fa-cog"></i></span>
                                <span> Изменить данные школы </span>
                            </a>

                            <a href="{% url 'add_additional_info_for_school' school_id=school.id %}"
                               class="button is-link is-rounded">
                                <span class="icon"><i class="fas fa-exclamation"></i></span>
                                <span> Добавить дополнительную информацию </span>
                            </a>

                            <a href="{% url 'requests_for_joining_school' school_id=school.id %}"
                               class="button is-link is-rounded">
                                <span class="icon"><i class="fas fa-user-plus"></i></span>
                                <span>Заявки людей на присоединение к школе</span>
                            </a>

                            <a href="#" class="button is-link is-rounded">
                                <span class="icon"><i class="fas fa-question"></i></span>
                                <span> Связаться с поддержкой </span>
                            </a>

                            <a href="{% url 'add_folder' school_id=school.id %}" class="button is-link is-rounded">
                                <span class="icon"><i class="fas fa-images"></i></span>
                                <span> Добавить фотографии в галерею </span>
                            </a>

                            <a href="{% url 'add_admin_for_school' school_id=school.id %}"
                               class="button is-link is-rounded">
                                <span class="icon"><i class="fas fa-crown"></i></span>
                                <span>Добавить администраторов школы</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").on("click", "a", function (event) {
                event.preventDefault();
                var id = $(this).attr('href'),
                    top = $(id).offset().top;
                $('body, html').animate({scrollTop: top}, 1500);
            });
        });
    </script>

    <script>
        function setHeiHeight() {
            $('#map').css({
                width: $(window).width() + 'px',
                height: $(window).height() / 2 + 'px'
            });
        }

        setHeiHeight(); // устанавливаем высоту окна при первой загрузке страницы
        $(window).resize(setHeiHeight); // обновляем при изменении размеров окна
    </script>

    <script>
        var myMap;

        ymaps.ready(function () {
            myMap = new ymaps.Map("map", {
                center: [{{ school.coords_longitude|stringformat:"f" }}, {{ school.coords_latitude|stringformat:"f" }}],
                zoom: 15,
                controls: ['searchControl', 'routeButtonControl', 'geolocationControl', 'fullscreenControl', 'zoomControl']
            });

            var search = myMap.controls.get('searchControl');
            search.events.add("resultselect", function (result) {
                console.log(search.getResultsArray()[result.get('index')].geometry.getCoordinates())
                console.log('request: ' + search.getRequestString());
            });


            var myGeoObject = new ymaps.Placemark([{{ school.coords_longitude|stringformat:"f" }}, {{ school.coords_latitude|stringformat:"f" }}],
                {
                    balloonContent:
                        '<div class="card">\n' +
                        '    <div class="card-content">\n' +
                        '        <p class="title"> {{ school.short_name }} </p>\n' +
                        '        <p class="subtitle"> {{ school.full_name }} </p>\n' +
                        '        <div class="columns">\n' +
                        '           <div class="column is-2">\n' +
                        '               <strong>Адрес</strong>\n' +
                        '           </div>\n' +
                        '           <div class="column is-10">\n' +
                        '               {{ school.address }}\n' +
                        '           </div>\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '</div>'
                });
            myMap.geoObjects.add(myGeoObject);

            myMap.container.fitToViewport();
        });
    </script>
{% endblock %}