<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}"/>
</head>

<body>
    <h1> Здравствуйте, {{ first_name }}!</h1>
    <p>
        Ваша роль успешно подтверждена! Вы можете полноценно пользоваться нашим сайтом!
    </p>
</body>
</html>