<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}"/>
</head>

<body>
    <h1> Здравствуйте, {{ first_name }}!</h1>
    <p>
        Это Ваш <strong>новый пароль</strong> для Вашего личного кабинета - <strong>{{ password }}</strong>. Рекомендуем
        Вам его поменять как только Вы восстановите доступ к нашему сайту
    </p>
</body>
</html>