<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}"/>
</head>

<body>
    <h1> Здравствуйте, {{ first_name }}!</h1>
    <p>
        Ваша школа {{ school_name }} отклонена по некоторым причинам. Вы можете попробовать еще раз.
    </p>
</body>
</html>