{% extends "base.html" %}
{% block title %} Все заявки {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Все заявки на подтверждение школы </h1>
            <hr>

            <div class="columns">
                {% include "helpers/status_text.html" %}
                {% for obj in all_requests %}
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content has-text-centered">
                                <p class="subtitle">
                                    <strong>{{ obj.short_name }}</strong>
                                </p>
                                <div class="columns">
                                    <div class="column is-4">
                                        <strong> Полное название </strong>
                                    </div>
                                    <div class="column is-8">
                                        {{ obj.full_name }}
                                    </div>
                                </div>

                                <div class="columns">
                                    <div class="column is-4">
                                        <strong> Адрес </strong>
                                    </div>
                                    <div class="column is-8">
                                        {{ obj.address }}
                                    </div>
                                </div>

                                <div class="columns">
                                    <div class="column is-4">
                                        <strong> Телефон школы </strong>
                                    </div>
                                    <div class="column is-8">
                                        {{ obj.phone }}
                                    </div>
                                </div>

                                <div class="columns">
                                    <div class="column is-4">
                                        <strong> Телефон координатора</strong>
                                    </div>
                                    <div class="column is-8">
                                        {{ obj.phone_coordinator }}
                                    </div>
                                </div>
                                <hr>
                                <div class="columns is-centered">
                                    <div class="column is-6">
                                        <a href="{% url 'approve_request_for_school' school_id=obj.id %}"
                                           class="button is-success is-rounded"> Одобрить </a>
                                    </div>
                                    <div class="column is-6">
                                        <a href="{% url 'reject_request_for_school' school_id=obj.id %}"
                                           class="button is-danger is-rounded"> Удалить </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if all_requests.has_other_pages %}
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="buttons">
                        {% if all_requests.has_previous %}
                            <a href="{% url 'all_requests_for_approve_schools' %}?page={{ all_requests.previous_page_number }}"
                               class="button is-rounded"> Обратно </a>
                        {% endif %}

                        {% if all_requests.has_next %}
                            <a href="{% url 'all_requests_for_approve_schools' %}?page={{ all_requests.next_page_number }}"
                               class="button is-rounded"> Дальше </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}