{% extends "base.html" %}
{% block title %} Все заявки {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Все заявки на подтверждение аккаунта </h1>
            <p class="subtitle">
                Каждая картинка кликабельна, чтобы Вы совсем подробно могли рассмотреть заявку
            </p>
            <hr>
            {% include "helpers/status_text.html" %}
            <div class="columns">
                {% for obj in all_requests %}
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content has-text-centered">
                                <p class="subtitle">
                                    {{ obj.profile.user.first_name }} {{ obj.profile.user.last_name }}
                                </p>
                                {% if obj.profile.role == "PARENT" %}
                                    <span class="tag is-rounded is-medium"> Родитель </span>
                                {% elif obj.profile.role == "TEACHER" %}
                                    <span class="tag is-rounded is-medium"> Учитель </span>
                                {% elif obj.profile.role == "ADMINISTRATION" %}
                                    <span class="tag is-rounded is-medium"> Администрация </span>
                                {% endif %}
                                <hr>
                                <a href="{{ obj.photo.url }}" target="_blank">
                                    <figure class="image">
                                        <img src="{{ obj.photo.url }}" alt="Фотография документа">
                                    </figure>
                                </a>
                                <hr>
                                <div class="columns is-centered">
                                    <div class="column is-6">
                                        <a href="{% url 'approve_request_for_user' profile_id=obj.profile.id %}"
                                           class="button is-success is-rounded"> Одобрить </a>
                                    </div>
                                    <div class="column is-6">
                                        <a href="{% url 'reject_request_for_user' profile_id=obj.profile.id %}"
                                           class="button is-danger is-rounded"> Отклонить </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if all_requests.has_other_pages %}
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="buttons">
                        {% if all_requests.has_previous %}
                            <a href="{% url 'all_requests_for_approve_users' %}?page={{ all_requests.previous_page_number }}"
                               class="button is-rounded"> Обратно </a>
                        {% endif %}

                        {% if all_requests.has_next %}
                            <a href="{% url 'all_requests_for_approve_users' %}?page={{ all_requests.next_page_number }}"
                               class="button is-rounded"> Дальше </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}